Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

[mempool] Split up test bootstrap network
  mempool/src/tests/multi_node_test.rs
Owners: none

[mempool] Port SharedMempoolNetwork tests to new framework
  mempool/src/tests/mod.rs
  mempool/src/tests/multi_node_test.rs
Owners: none

[executor] Refactored process_vm_output to test for possible parallelism
  execution/executor/src/lib.rs
  json-rpc/src/tests/genesis.rs
Owners: none

[executor] Refactored merkle tree api for batch update
  execution/executor/src/lib.rs
  execution/executor/src/types.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
Owners: none

[mempool] Add SharedMempool GCing for non-validator peers
  mempool/src/shared_mempool/peer_manager.rs
Owners: none

Bump camino from 1.0.1 to 1.0.2
  Cargo.lock
  devtools/x-core/Cargo.toml
  devtools/x-lint/Cargo.toml
  devtools/x/Cargo.toml
Owners: none

Bump libc from 0.2.86 to 0.2.87
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

[move-lang] Cleaned up UniqueMap iteration
  language/move-lang/src/cfgir/ast.rs
  language/move-lang/src/cfgir/borrows/mod.rs
  language/move-lang/src/cfgir/borrows/state.rs
  language/move-lang/src/cfgir/locals/state.rs
  language/move-lang/src/expansion/ast.rs
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/hlir/ast.rs
  language/move-lang/src/hlir/translate.rs
  language/move-lang/src/naming/ast.rs
  language/move-lang/src/naming/translate.rs
  language/move-lang/src/naming/uses.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/shared/mod.rs
  language/move-lang/src/shared/remembering_unique_map.rs
  language/move-lang/src/shared/unique_map.rs
  language/move-lang/src/shared/unique_set.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/move-lang/src/typing/ast.rs
  language/move-lang/src/typing/core.rs
  language/move-lang/src/typing/globals.rs
  language/move-lang/src/typing/infinite_instantiations.rs
  language/move-lang/src/typing/recursive_structs.rs
  language/move-lang/src/typing/translate.rs
  language/move-model/src/builder/exp_translator.rs
  language/move-model/src/builder/module_builder.rs
Owners: none

[move-lang] Cleaned up API for UniqueMap::add
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/naming/translate.rs
  language/move-lang/src/shared/remembering_unique_map.rs
  language/move-lang/src/shared/unique_map.rs
  language/move-lang/src/shared/unique_set.rs
  language/move-lang/src/typing/translate.rs
  language/move-lang/tests/move_check/naming/duplicate_type_parameter_function.exp
  language/move-lang/tests/move_check/naming/duplicate_type_parameter_struct.exp
  language/move-lang/tests/move_check/translated_ir_tests/move/generics/instantiation_loops/recursive_struct.exp
  language/move-lang/tests/move_check/translated_ir_tests/move/generics/instantiation_loops/recursive_struct.move
  language/move-lang/tests/move_check/typing/assign_duplicate_assigning.exp
  language/move-lang/tests/move_check/typing/bind_duplicate_binding.exp
  language/move-lang/tests/move_check/typing/declare_duplicate_binding.exp
Owners: none

[move-lang] Refactor ModuleIdent
  language/move-lang/src/compiled_unit.rs
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-lang/src/to_bytecode/context.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/move-model/src/builder/exp_translator.rs
  language/move-model/src/builder/module_builder.rs
  language/move-model/src/lib.rs
  language/tools/move-cli/src/package.rs
Owners: none

[move-lang] Added unique set
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/shared/mod.rs
  language/move-lang/src/shared/unique_map.rs
  language/move-lang/src/shared/unique_set.rs
Owners: none

[move-lang] Cleaned up UniqueMap mutable iteration
  language/move-lang/src/cfgir/borrows/state.rs
  language/move-lang/src/shared/remembering_unique_map.rs
  language/move-lang/src/shared/unique_map.rs
  language/move-lang/src/typing/expand.rs
  language/move-lang/src/typing/translate.rs
Owners: none

[move-prover] Handle `&mut` parameter threading on boogie instead of bytecode level.
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/bytecode/src/borrow_analysis.rs
  language/move-prover/bytecode/src/clean_and_optimize.rs
  language/move-prover/bytecode/src/mut_ref_instrumentation.rs
  language/move-prover/bytecode/src/reaching_def_analysis.rs
  language/move-prover/bytecode/tests/borrow/basic_test.exp
  language/move-prover/bytecode/tests/borrow/pack_unpack.exp
  language/move-prover/bytecode/tests/clean_and_optimize/pack_unpack.exp
  language/move-prover/bytecode/tests/data_invariant_instrumentation/params.exp
  language/move-prover/bytecode/tests/livevar/mut_ref_unpack.exp
  language/move-prover/bytecode/tests/memory_instr/basic_test.exp
  language/move-prover/bytecode/tests/memory_instr/mut_ref.exp
  language/move-prover/bytecode/tests/mut_ref_instrumentation/basic_test.exp
  language/move-prover/bytecode/tests/reaching_def/mut_ref_unpack.exp
  language/move-prover/bytecode/tests/spec_instrumentation/fun_spec.exp
Owners: none

[tests][move-lang] Reduce move_check_testsuite time by 97%
  language/move-lang/test-utils/src/lib.rs
  language/move-lang/tests/move_check/typing/global_builtins_script.exp
  language/move-lang/tests/move_check/typing/global_builtins_script.move
  language/move-lang/tests/move_check_testsuite.rs
Owners: none

fix whitespace inconsistencies in validator-testnet compose
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

[testnet] support a template config for testnet
  diem-node/src/lib.rs
  docker/compose/validator-testnet/docker-compose.yaml
  docker/compose/validator-testnet/validator_node_template.yaml
Owners: none

[docker-compose] Check docker logs separately to prevent race condition
  docker/compose/test_docker_compose.sh
Owners: none

[specifications] wrap long lines in the Move Adapter spec
  specifications/move_adapter/README.md
Owners: none

[specifications] fix description of some Move VM arguments
  specifications/move_adapter/README.md
Owners: none

[specifications] clarify ordering of Move adapter validation checks
  specifications/move_adapter/README.md
Owners: none

[specifications] update Move adapter spec for recent changes
  specifications/move_adapter/README.md
Owners: none

[specifications] some other minor Move adapter changes
  specifications/move_adapter/README.md
Owners: none

Bump hex from 0.4.2 to 0.4.3
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  client/swiss-knife/Cargo.toml
  common/short-hex-str/Cargo.toml
  common/temppath/Cargo.toml
  config/management/Cargo.toml
  config/management/operational/Cargo.toml
  config/seed-peer-generator/Cargo.toml
  crypto/crypto/Cargo.toml
  devtools/x-core/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/types/Cargo.toml
  language/compiler/ir-to-bytecode/syntax/Cargo.toml
  language/diem-tools/diem-events-fetcher/Cargo.toml
  language/move-core/types/Cargo.toml
  language/move-ir/types/Cargo.toml
  language/move-lang/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-vm/runtime/Cargo.toml
  language/testing-infra/e2e-tests/Cargo.toml
  language/testing-infra/functional-tests/Cargo.toml
  language/testing-infra/test-generation/Cargo.toml
  language/tools/resource-viewer/Cargo.toml
  network/Cargo.toml
  sdk/client/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cli/diem-wallet/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  testsuite/smoke-test/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

[dev-setup.sh] see if arch fixed itself
  .github/workflows/ci-test.yml
  docker/ci/arch/Dockerfile
Owners: @libra/libra-oss-admin-team

Support the `emits` verification with opaque functions
  language/diem-framework/modules/DiemAccount.move
  language/diem-framework/modules/DiemConfig.move
  language/diem-framework/modules/DiemSystem.move
  language/diem-framework/modules/doc/DiemAccount.md
  language/diem-framework/modules/doc/DiemConfig.md
  language/diem-framework/modules/doc/DiemSystem.md
  language/diem-framework/transaction_scripts/add_validator_and_reconfigure.move
  language/diem-framework/transaction_scripts/cancel_burn_with_amount.move
  language/diem-framework/transaction_scripts/create_parent_vasp_account.move
  language/diem-framework/transaction_scripts/create_validator_account.move
  language/diem-framework/transaction_scripts/create_validator_operator_account.move
  language/diem-framework/transaction_scripts/doc/cancel_burn_with_amount.md
  language/diem-framework/transaction_scripts/doc/transaction_script_documentation.md
  language/diem-framework/transaction_scripts/remove_validator_and_reconfigure.move
  language/move-model/src/builder/module_builder.rs
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/src/stackless_bytecode.rs
  language/move-prover/src/prelude.bpl
  language/move-prover/tests/sources/functional/emits.exp
  language/move-prover/tests/sources/functional/emits.move
Owners: none

[backup] add --replay-all to db-restore
  storage/backup/backup-cli/src/coordinators/restore.rs
Owners: none

[backup] update sample configs
  storage/backup/backup-cli/src/storage/command_adapter/azure.sample.toml
  storage/backup/backup-cli/src/storage/command_adapter/gcp.sample.toml
  storage/backup/backup-cli/src/storage/command_adapter/s3.sample.toml
Owners: none

[mempool] Update testing config to be less flaky
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
Owners: none

[move-lang] parse public(friend) as visibility modifier
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/lexer.rs
  language/move-lang/src/parser/syntax.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/parser/function_visibility_empty.exp
  language/move-lang/tests/move_check/parser/function_visibility_invalid.exp
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.exp
  language/move-lang/tests/move_check/typing/module_call_internal.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.exp
  language/move-model/src/builder/module_builder.rs
Owners: none

[move-lang] parse and compile friend list
  language/move-lang/src/expansion/ast.rs
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/interface_generator.rs
  language/move-lang/src/naming/ast.rs
  language/move-lang/src/naming/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-lang/src/shared/unique_map.rs
  language/move-lang/src/typing/ast.rs
  language/move-lang/src/typing/core.rs
  language/move-lang/src/typing/translate.rs
  language/move-model/src/lib.rs
Owners: none

[move-lang] single-quote friend in the error message of calling a friend fun
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.exp
  language/move-lang/tests/move_check/typing/main_call_visibility_friend.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_friend_invalid.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.exp
Owners: none

[move-lang] typing rules for calling a friend function
  language/move-lang/src/typing/core.rs
Owners: none

[move-lang] unit tests for calling into and from friend functions
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.exp
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.move
  language/move-lang/tests/move_check/typing/main_call_visibility_friend.exp
  language/move-lang/tests/move_check/typing/main_call_visibility_friend.move
  language/move-lang/tests/move_check/typing/module_call_visibility_friend.move
  language/move-lang/tests/move_check/typing/module_call_visibility_friend_invalid.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_friend_invalid.move
  language/move-lang/tests/move_check/typing/module_call_visibility_script.move
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.move
Owners: none

[move-lang] unit tests for friend visibility
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_duplicates.exp
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_duplicates.move
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_function.exp
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_function.move
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_struct.exp
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_struct.move
  language/move-lang/tests/move_check/expansion/friend_decl_imported_duplicates.exp
  language/move-lang/tests/move_check/expansion/friend_decl_imported_duplicates.move
  language/move-lang/tests/move_check/expansion/friend_decl_inner_scope_alias.exp
  language/move-lang/tests/move_check/expansion/friend_decl_inner_scope_alias.move
  language/move-lang/tests/move_check/expansion/friend_decl_nonexistent_alias.exp
  language/move-lang/tests/move_check/expansion/friend_decl_nonexistent_alias.move
  language/move-lang/tests/move_check/expansion/friend_decl_qualified_duplicates.exp
  language/move-lang/tests/move_check/expansion/friend_decl_qualified_duplicates.move
  language/move-lang/tests/move_check/expansion/public_friend_main.exp
  language/move-lang/tests/move_check/expansion/public_friend_main.move
  language/move-lang/tests/move_check/naming/friend_decl_unbound_module.exp
  language/move-lang/tests/move_check/naming/friend_decl_unbound_module.move
  language/move-lang/tests/move_check/parser/friend_decl_address_only.exp
  language/move-lang/tests/move_check/parser/friend_decl_address_only.move
  language/move-lang/tests/move_check/parser/friend_decl_inside_function.exp
  language/move-lang/tests/move_check/parser/friend_decl_inside_function.move
  language/move-lang/tests/move_check/parser/friend_decl_missing_semicolon.exp
  language/move-lang/tests/move_check/parser/friend_decl_missing_semicolon.move
  language/move-lang/tests/move_check/parser/friend_decl_more_than_one_module.exp
  language/move-lang/tests/move_check/parser/friend_decl_more_than_one_module.move
  language/move-lang/tests/move_check/parser/friend_decl_qualified_function.exp
  language/move-lang/tests/move_check/parser/friend_decl_qualified_function.move
  language/move-lang/tests/move_check/parser/friend_decl_qualified_struct.exp
  language/move-lang/tests/move_check/parser/friend_decl_qualified_struct.move
  language/move-lang/tests/move_check/parser/friend_decl_valid.move
  language/move-lang/tests/move_check/parser/function_visibility_friend.move
Owners: none

[move-lang] restrict friends within the same address
  language/move-lang/src/naming/translate.rs
  language/move-lang/tests/move_check/naming/friend_decl_out_of_account_addr.exp
  language/move-lang/tests/move_check/naming/friend_decl_out_of_account_addr.move
  language/move-lang/tests/move_check/naming/friend_decl_self.exp
  language/move-lang/tests/move_check/naming/friend_decl_self.move
Owners: none

[move-lang] fix error printing on invalid friend decl
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/naming/translate.rs
  language/move-lang/tests/move_check/expansion/friend_decl_aliased_duplicates.exp
  language/move-lang/tests/move_check/expansion/friend_decl_imported_duplicates.exp
  language/move-lang/tests/move_check/expansion/friend_decl_qualified_duplicates.exp
  language/move-lang/tests/move_check/naming/friend_decl_out_of_account_addr.exp
  language/move-lang/tests/move_check/naming/friend_decl_self.exp
Owners: none

[move-prover] formatting fixes
  language/move-prover/src/pipelines.rs
Owners: none

[move-prover] Transferred strong edge borrow analysis out of experimental pipeline
  language/move-prover/bytecode/src/borrow_analysis.rs
  language/move-prover/bytecode/src/borrow_analysis_v2.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/memory_instrumentation.rs
  language/move-prover/bytecode/src/memory_instrumentation_v2.rs
  language/move-prover/bytecode/tests/testsuite.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/pipelines.rs
Owners: none

[move-prover] updated exp files to add weak edges in borrow analysis
  language/move-prover/bytecode/tests/borrow/basic_test.exp
  language/move-prover/bytecode/tests/borrow/pack_unpack.exp
Owners: none

[State Sync] Remove use of anyhow in integration_tests.rs
  state-sync/src/lib.rs
  state-sync/tests/integration_tests.rs
  state-sync/tests/test_harness.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
