Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

[mempool] Remove redundant string modifiers in metrics
  mempool/src/shared_mempool/coordinator.rs
Owners: none

[mempool] Revamp metrics
  Cargo.lock
  mempool/Cargo.toml
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/tasks.rs
Owners: none

[mempool] Add ConnectionMetadata to PeerSyncState
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
Owners: none

[mempool] Rename overloaded PeerInfo type
  mempool/src/shared_mempool/peer_manager.rs
Owners: none

[mempool] Remove unnecessary clone in coordinator
  mempool/src/shared_mempool/coordinator.rs
Owners: none

[diem framework] Limit the number of validators in the network to 256 or less
  language/diem-framework/compiled/error_descriptions/error_descriptions.errmap
  language/diem-framework/compiled/stdlib/030_DiemSystem.mv
  language/diem-framework/modules/DiemSystem.move
  language/diem-framework/modules/doc/DiemSystem.md
  language/diem-framework/transaction_scripts/add_validator_and_reconfigure.move
  language/diem-framework/transaction_scripts/doc/transaction_script_documentation.md
  language/e2e-testsuite/src/tests/validator_set_management.rs
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::emergency_admin_script::validator_batch_remove.exp
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::validator_set_management::validator_add.exp
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::validator_set_management::validator_add_max_number.exp
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::validator_set_management::validator_rotate_key_and_reconfigure.exp
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::validator_set_management::validator_set_operator_set_key_reconfigure.exp
Owners: none

Bump cc from 1.0.66 to 1.0.67
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

[safety-rules] removing redundant safety data update
  consensus/safety-rules/src/safety_rules.rs
Owners: none

[State Sync] Make the state sync client commit() timeout configurable.
  config/src/config/state_sync_config.rs
  consensus/src/block_storage/block_store_and_lec_recovery_test.rs
  diem-node/src/lib.rs
  state-sync/src/bootstrapper.rs
  state-sync/src/client.rs
  state-sync/tests/test_harness.rs
Owners: none

[State Sync] Make the mempool commit ack timeout configurable.
  config/src/config/state_sync_config.rs
  state-sync/src/coordinator.rs
Owners: none

[State Sync] Make the timeout for transaction pulling from mempool configurable
  config/src/config/consensus_config.rs
  consensus/src/consensus_provider.rs
  consensus/src/test_utils/mock_txn_manager.rs
  consensus/src/txn_manager.rs
Owners: none

[State Sync] Make the timeout for transaction execution for mempool configurable
  config/src/config/consensus_config.rs
  consensus/src/consensus_provider.rs
  consensus/src/test_utils/mock_txn_manager.rs
  consensus/src/txn_manager.rs
Owners: none

[backup] fix flaky test_save_and_list_metadata_files
  storage/backup/backup-cli/src/storage/mod.rs
  storage/backup/backup-cli/src/storage/test_util.rs
Owners: none

Bump handlebars from 3.5.2 to 3.5.3
  Cargo.lock
  language/diem-tools/writeset-transaction-generator/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
Owners: none

Bump proptest-derive from 0.2.0 to 0.3.0
  Cargo.lock
  client/transaction-builder/Cargo.toml
  common/bitvec/Cargo.toml
  common/proptest-helpers/Cargo.toml
  crypto/crypto/Cargo.toml
  language/move-core/types/Cargo.toml
  language/testing-infra/e2e-tests/Cargo.toml
  language/tools/vm-genesis/Cargo.toml
  language/vm/Cargo.toml
  language/vm/serializer-tests/Cargo.toml
  network/Cargo.toml
  network/network-address/Cargo.toml
  storage/diemdb/Cargo.toml
  storage/jellyfish-merkle/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

Bump crossbeam-utils from 0.8.1 to 0.8.2
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

[sccache] linux builds and a little cleanup
  .github/actions/changes/get_pr_info.sh
  .github/workflows/ci-test.yml
  .github/workflows/ci-update-sccache.yml
Owners: @libra/libra-oss-admin-team

[ci] run specific --ignored tests
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

[ci] bump timeout for non-rust-lint
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

[ci] setup codegen requirements
  .github/actions/build-setup/action.yml
  docker/ci/github/Dockerfile
  scripts/dev_setup.sh
Owners: @libra/libra-oss-admin-team

[ci] use ubuntu-latest-xl for non-rust-lint
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

Bump proptest from 0.10.1 to 1.0.0
  Cargo.lock
  client/transaction-builder/Cargo.toml
  common/bitvec/Cargo.toml
  common/nibble/Cargo.toml
  common/proptest-helpers/Cargo.toml
  common/short-hex-str/Cargo.toml
  common/workspace-hack/Cargo.toml
  consensus/Cargo.toml
  consensus/consensus-types/Cargo.toml
  consensus/safety-rules/Cargo.toml
  crypto/crypto/Cargo.toml
  execution/executor/Cargo.toml
  json-rpc/Cargo.toml
  language/benchmarks/Cargo.toml
  language/bytecode-verifier/bytecode-verifier-tests/Cargo.toml
  language/bytecode-verifier/invalid-mutations/Cargo.toml
  language/diem-vm/Cargo.toml
  language/e2e-testsuite/Cargo.toml
  language/move-core/types/Cargo.toml
  language/move-vm/runtime/Cargo.toml
  language/move-vm/types/Cargo.toml
  language/testing-infra/e2e-tests/Cargo.toml
  language/tools/vm-genesis/Cargo.toml
  language/vm/Cargo.toml
  language/vm/serializer-tests/Cargo.toml
  mempool/Cargo.toml
  network/Cargo.toml
  network/network-address/Cargo.toml
  secure/storage/vault/Cargo.toml
  state-sync/Cargo.toml
  storage/accumulator/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/diemdb/Cargo.toml
  storage/jellyfish-merkle/Cargo.toml
  storage/schemadb/Cargo.toml
  storage/scratchpad/Cargo.toml
  storage/storage-service/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

[move-prover] replacing plus func to avoid overflow
  language/move-prover/bytecode/src/memory_instrumentation_v2.rs
Owners: none

[move-prover] adding v2 of memory_instrumentation that actually makes use of new strong edges
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/memory_instrumentation_v2.rs
  language/move-prover/src/pipelines.rs
Owners: none

[diem framework] Fix naming issue in script docs
  language/diem-framework/transaction_scripts/doc/transaction_script_documentation.md
  language/diem-framework/transaction_scripts/publish_shared_ed25519_public_key.move
  language/diem-framework/transaction_scripts/rotate_authentication_key.move
  language/diem-framework/transaction_scripts/rotate_authentication_key_with_nonce.move
  language/diem-framework/transaction_scripts/rotate_authentication_key_with_nonce_admin.move
  language/diem-framework/transaction_scripts/rotate_authentication_key_with_recovery_address.move
Owners: none

[Move SDK codegen] Bump textwrap from 0.13.2 to 0.13.3
  Cargo.lock
  language/transaction-builder/generator/Cargo.toml
  language/transaction-builder/generator/src/cpp.rs
  language/transaction-builder/generator/src/golang.rs
  language/transaction-builder/generator/src/java.rs
  language/transaction-builder/generator/src/rust.rs
  language/transaction-builder/generator/src/typescript.rs
Owners: none

Add printing of x25519 keys to optool
  config/management/operational/src/command.rs
  config/management/operational/src/print.rs
Owners: none

[mempool] Use proper NodeConfig defaults for node types
  mempool/src/tests/shared_mempool_test.rs
Owners: none

[mempool] Combine repeated peer network setup logic in tests
  mempool/src/tests/shared_mempool_test.rs
Owners: none

[Vault Storage] Make the vault client support configurable timeout values
  config/management/network-address-encryption/src/lib.rs
  config/management/src/config.rs
  config/management/src/secure_backend.rs
  config/src/config/secure_backend_config.rs
  consensus/safety-rules/benches/safety_rules.rs
  consensus/safety-rules/src/tests/vault.rs
  secure/storage/src/tests/vault.rs
  secure/storage/src/vault.rs
  secure/storage/vault/src/dev.rs
  secure/storage/vault/src/lib.rs
  testsuite/cluster-test/src/cluster_builder.rs
Owners: none

[gha] switch to machine size, means we should switch the parameters we're looking for to default
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

[safety-rules] cleaning
  consensus/safety-rules/src/safety_rules.rs
Owners: none

Bump archlinux in /docker/ci/arch
  docker/ci/arch/Dockerfile
Owners: none

Bump actions/setup-node from v2.1.4 to v2.1.5
  .github/workflows/developer-site-ci.yml
Owners: @libra/libra-oss-admin-team

Bump futures-core from 0.3.12 to 0.3.13
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

Introduce checked macro for secure arithmetic operations
  common/infallible/src/lib.rs
  common/infallible/src/math.rs
Owners: none

move-core-types: remove dependency on diem-crypto
  Cargo.lock
  config/src/config/network_config.rs
  execution/executor/src/lib.rs
  language/move-core/types/Cargo.toml
  language/move-core/types/src/account_address.rs
  language/move-core/types/src/language_storage.rs
  language/move-core/types/src/unit_tests/address_test.rs
  network/simple-onchain-discovery/src/lib.rs
  network/socket-bench-server/src/lib.rs
  network/src/noise/fuzzing.rs
  network/src/noise/handshake.rs
  network/src/noise/stream.rs
  network/src/transport/test.rs
  storage/diemdb/src/diemdb_test.rs
  storage/diemdb/src/state_store/mod.rs
  storage/diemdb/src/state_store/state_store_test.rs
  storage/storage-interface/src/state_view.rs
  storage/storage-service/src/storage_service_test.rs
  types/src/account_address.rs
  types/src/account_state_blob.rs
Owners: none

types: remove dependency on proptest-helpers
  Cargo.lock
  storage/diemdb/src/event_store/test.rs
  storage/diemdb/src/transaction_store/test.rs
  types/Cargo.toml
  types/src/proptest_types.rs
Owners: none

[mempool] Remove legacy failover logic
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/tests/shared_mempool_test.rs
Owners: none

Bump futures-io from 0.3.12 to 0.3.13
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
