Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

x: allow published packages in default-members
  devtools/x/src/lint/workspace_classify.rs
Owners: none

sdk: create facade crate and release v0.0.1 to crates.io
  Cargo.lock
  Cargo.toml
  client/transaction-builder/Cargo.toml
  crypto/crypto-derive/Cargo.toml
  crypto/crypto/Cargo.toml
  json-rpc/types/Cargo.toml
  language/move-core/types/Cargo.toml
  sdk/Cargo.toml
  sdk/client/Cargo.toml
  sdk/publishing.md
  sdk/src/lib.rs
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

[deps] prometheus and update
  Cargo.lock
  common/logger/Cargo.toml
  common/metrics-core/Cargo.toml
  common/metrics/Cargo.toml
  common/workspace-hack/Cargo.toml
Owners: none

client: symlink proxy module
  sdk/client/src/blocking.rs
  sdk/client/src/proxy.rs
Owners: none

[move-prover] Setting the stage for negative (e.g. soundness) verification tests.
  language/move-prover/boogie-backend/src/boogie_wrapper.rs
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/bytecode/src/annotations.rs
  language/move-prover/bytecode/src/borrow_analysis.rs
  language/move-prover/bytecode/src/data_invariant_instrumentation.rs
  language/move-prover/bytecode/src/function_target.rs
  language/move-prover/bytecode/src/function_target_pipeline.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation_v2.rs
  language/move-prover/bytecode/src/livevar_analysis.rs
  language/move-prover/bytecode/src/loop_analysis.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
Owners: none

Bump archlinux in /docker/ci/arch
  docker/ci/arch/Dockerfile
Owners: none

[backup] add --concurrent-downloads option
  storage/backup/backup-cli/src/backup_types/epoch_ending/restore.rs
  storage/backup/backup-cli/src/backup_types/epoch_ending/tests.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
  storage/backup/backup-cli/src/backup_types/transaction/tests.rs
  storage/backup/backup-cli/src/bin/db-backup-verify.rs
  storage/backup/backup-cli/src/bin/db-backup.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/coordinators/restore.rs
  storage/backup/backup-cli/src/coordinators/verify.rs
  storage/backup/backup-cli/src/metadata/cache.rs
  storage/backup/backup-cli/src/utils/mod.rs
Owners: none

[Secure Storage] Vault timeout workaround due to ureq bug.
  secure/storage/vault/src/lib.rs
Owners: none

[gha] move docker images pruning to daily
  .github/workflows/daily.yml
  .github/workflows/docker-publish.yml
Owners: @libra/libra-oss-admin-team

[move-vm] execute_script_function should have no return values
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
Owners: none

Bump tokio from 1.2.0 to 1.3.0
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  common/bounded-executor/Cargo.toml
  common/channel/Cargo.toml
  common/debug-interface/Cargo.toml
  common/metrics/Cargo.toml
  common/rate-limiter/Cargo.toml
  common/retrier/Cargo.toml
  common/time-service/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  consensus/Cargo.toml
  diem-node/Cargo.toml
  json-rpc/Cargo.toml
  language/diem-tools/diem-events-fetcher/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  mempool/Cargo.toml
  network/Cargo.toml
  network/builder/Cargo.toml
  network/netcore/Cargo.toml
  network/simple-onchain-discovery/Cargo.toml
  network/socket-bench-server/Cargo.toml
  sdk/client/Cargo.toml
  secure/key-manager/Cargo.toml
  state-sync/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-service/Cargo.toml
  storage/storage-service/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/smoke-test/Cargo.toml
Owners: @xli

Bump tokio-stream from 0.1.3 to 0.1.4
  Cargo.lock
  diem-node/Cargo.toml
  mempool/Cargo.toml
  network/Cargo.toml
  state-sync/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
Owners: none

Bump tokio-util from 0.6.3 to 0.6.4
  Cargo.lock
  common/rate-limiter/Cargo.toml
  common/workspace-hack/Cargo.toml
  network/Cargo.toml
  network/netcore/Cargo.toml
  network/socket-bench-server/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
Owners: none

Bump reqwest from 0.11.1 to 0.11.2
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  common/debug-interface/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  json-rpc/Cargo.toml
  language/diem-tools/diem-events-fetcher/Cargo.toml
  sdk/client/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-service/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-swarm/Cargo.toml
Owners: @xli

[docker compose] clean up libra names, and trigger on proper events.
  .github/workflows/ci-test.yml
  docker/compose/client-cli/docker-compose.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
Owners: @libra/libra-oss-admin-team

[move-prover] Add a wellformed-check after havoc of &mut parameters.
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/tests/spec_instrumentation/generics.exp
  language/move-prover/bytecode/tests/spec_instrumentation/modifies.exp
  language/move-prover/bytecode/tests/spec_instrumentation/opaque_call.exp
Owners: none

ci: ensure that workflows run on main
  .github/actions/land-blocking/find-lbt-images.sh
  .github/workflows/ci-update-sccache.yml
  .github/workflows/daily.yml
  .github/workflows/developer-site-ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/rustdoc.yml
Owners: @libra/libra-oss-admin-team
