Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

[language][vm] make execute_function return values (in serialized format)
  language/diem-tools/writeset-transaction-generator/src/writeset_builder.rs
  language/diem-vm/src/diem_transaction_executor.rs
  language/diem-vm/src/diem_vm.rs
  language/move-vm/integration-tests/src/tests/function_arg_tests.rs
  language/move-vm/integration-tests/src/tests/mod.rs
  language/move-vm/integration-tests/src/tests/return_value_tests.rs
  language/move-vm/runtime/src/interpreter.rs
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  language/testing-infra/test-generation/src/lib.rs
  language/tools/vm-genesis/src/lib.rs
Owners: none

added loop target calculation and injection of "assumed" loop invariants at the Boogie level
  language/diem-framework/modules/Authenticator.move
  language/diem-framework/modules/DiemSystem.move
  language/diem-framework/modules/RecoveryAddress.move
  language/diem-framework/modules/doc/Authenticator.md
  language/diem-framework/modules/doc/DiemSystem.md
  language/diem-framework/modules/doc/RecoveryAddress.md
  language/diem-framework/transaction_scripts/doc/transaction_script_documentation.md
  language/diem-framework/transaction_scripts/rotate_authentication_key_with_recovery_address.move
  language/move-model/src/model.rs
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/boogie-backend/src/spec_translator.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/loop_analysis.rs
  language/move-prover/src/pipelines.rs
  language/move-prover/tests/sources/functional/loops.exp
  language/move-prover/tests/sources/functional/loops.move
  language/move-prover/tests/sources/functional/specs_in_fun_ref.exp
  language/move-prover/tests/sources/functional/specs_in_fun_ref.move
  language/move-prover/tests/sources/functional/verify_vector.move
Owners: none

[testing-infra] add cyclic dep checking in functional tests
  language/testing-infra/functional-tests/src/evaluator.rs
Owners: none

[vm] break cyclic loading caused by friends in module loading
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/runtime.rs
Owners: none

[bytecode-verifier] add rules for friend visibility
  language/bytecode-verifier/src/cyclic_dependencies.rs
  language/bytecode-verifier/src/dependencies.rs
  language/bytecode-verifier/src/friends.rs
  language/bytecode-verifier/src/lib.rs
  language/bytecode-verifier/src/verifier.rs
  language/diem-framework/compiled/src/lib.rs
  language/diem-framework/src/lib.rs
  language/move-core/types/src/vm_status.rs
  language/move-model/src/model.rs
  language/move-vm/runtime/src/loader.rs
  language/tools/move-cli/src/lib.rs
  language/tools/move-cli/src/main.rs
  language/vm/src/access.rs
Owners: none

[cluster-test] Add time logs to breakdown timeframe of suite run
  testsuite/cluster-test/src/main.rs
  testsuite/cluster-test/src/report.rs
Owners: none

[move-prover] V2 invariant support
  language/move-model/src/model.rs
  language/move-model/src/pragmas.rs
Owners: none

[move-prover] Preparation for new invariant handling
  language/move-model/src/model.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation_v2.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/tests/testsuite.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/lib.rs
Owners: none

Implemented the spec pragmas "emits_is_partial" and "emits_is_strict"
  language/move-model/src/ast.rs
  language/move-model/src/pragmas.rs
  language/move-prover/boogie-backend/src/spec_translator.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/src/spec_translator.rs
  language/move-prover/src/prelude.bpl
  language/move-prover/tests/sources/functional/emits.exp
  language/move-prover/tests/sources/functional/emits.move
Owners: none

fix broken links
  developers.diem.com/README.md
  developers.diem.com/docs/README.md
  developers.diem.com/docs/core/diem-open-source-paper.md
  developers.diem.com/docs/core/life-of-a-transaction.md
  developers.diem.com/docs/reference/glossary.md
  developers.diem.com/docs/reference/rustdoc.md
  developers.diem.com/docs/wallet-app/intro-to-drw.md
  developers.diem.com/docs/wallet-app/public-demo-wallet.md
  developers.diem.com/docs/wallet-app/try-local-web-wallet.md
  developers.diem.com/docs/wallet-app/wallet-guide.md
  developers.diem.com/src/pages/papers.js
Owners: none

Bump crossbeam-utils from 0.8.2 to 0.8.3
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

Bump camino from 1.0.0 to 1.0.1
  Cargo.lock
  devtools/x-core/Cargo.toml
  devtools/x-lint/Cargo.toml
  devtools/x/Cargo.toml
Owners: none

Bump serde_json from 1.0.62 to 1.0.63
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  client/swiss-knife/Cargo.toml
  common/logger/Cargo.toml
  common/metrics/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  config/management/operational/Cargo.toml
  consensus/Cargo.toml
  crypto/crypto/Cargo.toml
  devtools/x/Cargo.toml
  execution/executor/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/types/Cargo.toml
  language/compiler/Cargo.toml
  language/diem-tools/writeset-transaction-generator/Cargo.toml
  language/diem-vm/Cargo.toml
  language/e2e-testsuite/Cargo.toml
  language/move-core/types/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  language/move-prover/bytecode/Cargo.toml
  language/tools/resource-viewer/Cargo.toml
  language/vm/Cargo.toml
  mempool/Cargo.toml
  sdk/client/Cargo.toml
  secure/storage/Cargo.toml
  secure/storage/github/Cargo.toml
  secure/storage/vault/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/diemsum/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

[move cli] print number of bytes written in verbose output
  language/tools/move-cli/src/main.rs
  language/tools/move-cli/tests/testsuite/compile_modules_and_scripts/args.exp
  language/tools/move-cli/tests/testsuite/diem_smoke/args.exp
  language/tools/move-cli/tests/testsuite/diem_smoke/args.txt
  language/tools/move-cli/tests/testsuite/events_emit_view/args.exp
  language/tools/move-cli/tests/testsuite/module_publish_view/args.exp
  language/tools/move-cli/tests/testsuite/module_run_view/args.exp
  language/tools/move-cli/tests/testsuite/republish/args.exp
  language/tools/move-cli/tests/testsuite/republish_cyclic/args.exp
  language/tools/move-cli/tests/testsuite/republish_cyclic_transitive/args.exp
Owners: none

[gh] pr template update with release branch reqs
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @libra/libra-oss-admin-team

[ir-testsuite] add test cases for having refs in struct instantiations for generic bytecode instructions
  language/ir-testsuite/tests/move/generics/signatures/reference_as_type_actual_in_struct_inst_for_bytecode_instruction.mvir
Owners: none

[bytecode-verifier] add missing signature checks to a few generic bytecode instructions
  language/bytecode-verifier/src/signature.rs
Owners: none

[bytecode-verifier] add compatibility checking for friend visibility
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/runtime.rs
  language/vm/src/compatibility.rs
  language/vm/src/normalized.rs
Owners: none

[State Sync] Update and clean up flaky/ignored tests
  state-sync/tests/integration_tests.rs
Owners: none

Bump serde_json from 1.0.63 to 1.0.64
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  client/swiss-knife/Cargo.toml
  common/logger/Cargo.toml
  common/metrics/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  config/management/operational/Cargo.toml
  consensus/Cargo.toml
  crypto/crypto/Cargo.toml
  devtools/x/Cargo.toml
  execution/executor/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/types/Cargo.toml
  language/compiler/Cargo.toml
  language/diem-tools/writeset-transaction-generator/Cargo.toml
  language/diem-vm/Cargo.toml
  language/e2e-testsuite/Cargo.toml
  language/move-core/types/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  language/move-prover/bytecode/Cargo.toml
  language/tools/resource-viewer/Cargo.toml
  language/vm/Cargo.toml
  mempool/Cargo.toml
  sdk/client/Cargo.toml
  secure/storage/Cargo.toml
  secure/storage/github/Cargo.toml
  secure/storage/vault/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/diemsum/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

Bump kube from 0.50.1 to 0.51.0
  Cargo.lock
  testsuite/cluster-test/Cargo.toml
Owners: none

[State Sync] Update chunk response verification.
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
Owners: none

[State Sync] Add support for penalizing chunks from downstream nodes.
  state-sync/src/request_manager.rs
Owners: none

[State Sync] Update delivery subscriptions to use progress ledger infos.
  state-sync/src/coordinator.rs
Owners: none

[State Sync] Add unit tests for chunk response verification.
  state-sync/src/coordinator.rs
Owners: none

[Secure Storage] Reduce default timeouts for vault and support custom op tooling timeouts.
  config/management/src/secure_backend.rs
  secure/storage/vault/src/lib.rs
Owners: none

[consensus] Add reputation window proposals/vote metrics
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
Owners: none

[ir-compiler] add support for friend declarations in modules
  language/compiler/ir-to-bytecode/src/compiler.rs
  language/compiler/ir-to-bytecode/src/context.rs
  language/compiler/ir-to-bytecode/syntax/src/syntax.rs
  language/move-ir/types/src/ast.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/testing-infra/module-generation/src/generator.rs
Owners: none

[ir-testsuite] test cases for friend visibility
  language/ir-testsuite/tests/move/modules/access_friend_function_invalid.mvir
  language/ir-testsuite/tests/move/modules/access_friend_function_valid.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_cyclic.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_cyclic_transitive.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_deps.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_deps_transitive.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_different_address.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_duplicated.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_non_existing.mvir
  language/ir-testsuite/tests/move/modules/friend_decl_self.mvir
Owners: none

[ir-compiler] add support for public(friend) as a modifier
  language/compiler/ir-to-bytecode/src/compiler.rs
  language/compiler/ir-to-bytecode/syntax/src/lexer.rs
  language/compiler/ir-to-bytecode/syntax/src/syntax.rs
  language/move-ir/types/src/ast.rs
Owners: none

[ir-testsuite] compatibility test cases for friends
  language/ir-testsuite/tests/move/publish/republish_module_compatible_add_friend.mvir
  language/ir-testsuite/tests/move/publish/republish_module_compatible_friend_fn_to_public.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_change_friend_fn.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_change_unused_friend_fn.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_delete_friend_fn.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_delete_unused_friend_fn.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_drop_friend.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_drop_unlinked_friend.mvir
  language/ir-testsuite/tests/move/publish/republish_module_incompatible_friend_fn_to_private.mvir
Owners: none

Bump archlinux in /docker/ci/arch
  docker/ci/arch/Dockerfile
Owners: none

[gha] split code gen unit tests out, bump unit test timeout by 10 minutes.
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @libra/libra-oss-admin-team

[language] Make the e2e tests faster, especially max key rotations test
  language/e2e-testsuite/src/tests/transaction_fuzzer.rs
  language/e2e-testsuite/src/tests/vasps.rs
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite__tests__vasps__max_child_accounts_for_vasp_recovery_address.exp
Owners: none

add jellyfish paper in papers page and adjust links
  developers.diem.com/src/pages/papers.js
Owners: none

[mempool] Build test framework
  mempool/src/tests/mod.rs
  mempool/src/tests/multi_node_test.rs
Owners: none

[mempool] Remove duplicated tests
  mempool/src/tests/shared_mempool_test.rs
Owners: none

[mempool] Mempool network test framework
  Cargo.lock
  config/src/config/network_config.rs
  mempool/Cargo.toml
  mempool/src/tests/mod.rs
  mempool/src/tests/node.rs
  network/src/transport/mod.rs
Owners: none

[mempool] Refactor TestHarness into a per Node
  mempool/src/tests/multi_node_test.rs
  mempool/src/tests/node.rs
Owners: none
