Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

Fix docker-compose issues in faucet/validator_testnet
  docker/compose/README.md
  docker/compose/mint/.gitignore
  docker/compose/mint/docker-compose.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

[language] introduce InternalGasUnits and fix gas check in the adapter
  language/diem-vm/src/diem_vm.rs
  language/e2e-testsuite/src/tests/verify_txn.rs
  language/ir-testsuite/tests/testing_infra/gas_submitted_too_low.mvir
  language/move-core/types/src/gas_schedule.rs
  language/move-lang/functional-tests/tests/diem/prologue/fail_if_max_gas_below_minimum.move
  language/move-vm/types/src/gas_schedule.rs
  language/move-vm/types/src/natives/function.rs
  language/move-vm/types/src/values/values_impl.rs
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::verify_txn::verify_simple_payment.exp
  language/testing-infra/e2e-tests/src/account_universe/bad_transaction.rs
  specifications/move_adapter/README.md
  vm-validator/src/unit_tests/vm_validator_test.rs
Owners: none

[move prover] add syntax for explicit triggers
  language/move-lang/src/expansion/ast.rs
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-model/src/ast.rs
  language/move-model/src/builder/exp_translator.rs
  language/move-model/src/exp_rewriter.rs
  language/move-prover/boogie-backend/src/spec_translator.rs
  language/move-prover/bytecode/src/spec_translator.rs
  language/move-prover/src/spec_translator.rs
  language/move-prover/tests/sources/functional/invariants_with_quant.move
Owners: none

Bump serde_yaml from 0.8.16 to 0.8.17
  Cargo.lock
  common/diemdoc/Cargo.toml
  config/Cargo.toml
  config/management/Cargo.toml
  config/seed-peer-generator/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/generate-format/Cargo.toml
Owners: none

[dep] rand-core upgrade as well with import fixes
  Cargo.lock
  consensus/safety-rules/Cargo.toml
  consensus/safety-rules/src/fuzzing_utils.rs
  crypto/crypto/Cargo.toml
  network/Cargo.toml
  network/src/noise/fuzzing.rs
Owners: @kchalkias, @huitseeker, @valerini

[kube] update kube and tests
  Cargo.lock
  testsuite/cluster-test/Cargo.toml
  testsuite/cluster-test/src/cluster_swarm/cluster_swarm_kube.rs
Owners: none

[deps] upgrade pbkdf2 since reviews are hard to come by
  Cargo.lock
  common/workspace-hack/Cargo.toml
  testsuite/cli/diem-wallet/Cargo.toml
Owners: none

[deps] and now the newly released 0.49 kube
  Cargo.lock
  testsuite/cluster-test/Cargo.toml
Owners: none

[workspace hack] workspace hack update
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

auto fix lint
  consensus/safety-rules/src/fuzzing_utils.rs
Owners: none

[diem framework] make script allowlist immutable
  client/transaction-builder/src/stdlib.rs
  developers.diem.com/docs/core/diem-cli.md
  execution/executor/tests/storage_integration_test.rs
  json-rpc/tests/integration_test.rs
  language/diem-framework/compiled/stdlib/028_DiemTransactionPublishingOption.mv
  language/diem-framework/modules/DiemTransactionPublishingOption.move
  language/diem-framework/transaction_scripts/add_to_script_allow_list.move
  language/diem-framework/transaction_scripts/doc/transaction_script_documentation.md
  language/diem-framework/transaction_scripts/transaction_script_documentation_template.md
  language/diem-tools/writeset-transaction-generator/templates/halt_transactions.move
  language/e2e-testsuite/src/tests/emergency_admin_script.rs
  language/e2e-testsuite/src/tests/on_chain_configs.rs
  language/move-lang/functional-tests/tests/diem/on_chain_config/change_publishing_options.move
  language/move-lang/functional-tests/tests/diem/on_chain_config/change_script_allowlist.move
  language/move-lang/functional-tests/tests/diem/on_chain_config/disable_txes.move
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::emergency_admin_script::halt_network.exp
  language/testing-infra/e2e-tests/goldens/language_e2e_testsuite::tests::on_chain_configs::update_script_allow_list.exp
  state-sync/src/executor_proxy.rs
  testsuite/cli/src/client_proxy.rs
  testsuite/cli/src/dev_commands.rs
  testsuite/smoke-test/src/scripts_and_modules.rs
  testsuite/smoke-test/src/state_sync.rs
Owners: @xli

[network] Allow inbound trusted peers to bypass connection limit
  network/src/peer_manager/mod.rs
Owners: none

[network] Refactor PeerManager handle new connection
  network/src/peer_manager/mod.rs
Owners: none

fix spec bug
  language/diem-framework/modules/DiemTransactionPublishingOption.move
Owners: none

[language] move move-vm-test-utils::effects into move-core-types
  language/diem-tools/transaction-replay/src/lib.rs
  language/diem-tools/transaction-replay/src/main.rs
  language/diem-tools/transaction-replay/src/unit_tests/bisection_tests.rs
  language/diem-tools/writeset-transaction-generator/src/writeset_builder.rs
  language/move-core/types/src/effects.rs
  language/move-core/types/src/lib.rs
  language/move-vm/integration-tests/src/tests/bad_storage_tests.rs
  language/move-vm/test-utils/src/lib.rs
  language/move-vm/test-utils/src/misc.rs
  language/move-vm/test-utils/src/storage.rs
Owners: none

[move-lang] disallow odd-length hex strings
  language/move-lang/functional-tests/tests/diem/diem_account/delegate_rotation_capability.move
  language/move-lang/functional-tests/tests/diem/diem_account/freezing.move
  language/move-lang/functional-tests/tests/diem/natives/signature.move
  language/move-lang/functional-tests/tests/diem/shared_ed25519_public_key/shared_key.move
  language/move-lang/functional-tests/tests/diem/smoke_tests/approved_payment.move
  language/move-lang/functional-tests/tests/move/constants/folding_complex.move
  language/move-lang/functional-tests/tests/move/constants/folding_equality.move
  language/move-lang/src/expansion/hex_string.rs
  language/move-lang/tests/move_check/expansion/hexstring_bad_value.exp
  language/move-lang/tests/move_check/expansion/hexstring_bad_value.move
  language/move-lang/tests/move_check/parser/hexstring.move
  language/move-lang/tests/move_check/parser/hexstring_bad_value1.exp
  language/move-lang/tests/move_check/parser/hexstring_bad_value1.move
  language/move-lang/tests/move_check/parser/hexstring_bad_value2.exp
  language/move-lang/tests/move_check/parser/hexstring_bad_value2.move
  language/tools/move-cli/tests/testsuite/compare_smoke/src/scripts/compare.move
Owners: none

Fix two issues: - infinite loop in dataflow analysis - backward analysis from all blocks
  language/move-prover/bytecode/src/borrow_analysis.rs
  language/move-prover/bytecode/src/compositional_analysis.rs
  language/move-prover/bytecode/src/dataflow_analysis.rs
  language/move-prover/bytecode/src/livevar_analysis.rs
  language/move-prover/bytecode/src/stackless_control_flow_graph.rs
Owners: none

[State Sync] Remove pending ledger infos to simplify state sync logic.
  config/src/config/state_sync_config.rs
  state-sync/src/coordinator.rs
  state-sync/src/counters.rs
  state-sync/src/shared_components.rs
Owners: none

[State Sync] Update tests to avoid relying on incremental commits.
  state-sync/tests/integration_tests.rs
  state-sync/tests/test_harness.rs
Owners: none

[State Sync] Clean up peer connection notifications in tests
  state-sync/tests/integration_tests.rs
Owners: none

[language/tools] Add bytecode viewer
  Cargo.lock
  Cargo.toml
  language/tools/disassembler/src/disassembler.rs
  language/tools/move-bytecode-viewer/Cargo.toml
  language/tools/move-bytecode-viewer/src/bytecode_viewer.rs
  language/tools/move-bytecode-viewer/src/interfaces.rs
  language/tools/move-bytecode-viewer/src/lib.rs
  language/tools/move-bytecode-viewer/src/main.rs
  language/tools/move-bytecode-viewer/src/source_viewer.rs
  language/tools/move-bytecode-viewer/src/tui/mod.rs
  language/tools/move-bytecode-viewer/src/tui/text_builder.rs
  language/tools/move-bytecode-viewer/src/tui/tui_interface.rs
  language/tools/move-bytecode-viewer/src/viewer.rs
Owners: none

Updated unit tests for CVC4
  language/move-prover/tests/testsuite.rs
Owners: none

[dep] update criterion, and fix lints
  Cargo.lock
  consensus/safety-rules/Cargo.toml
  crypto/crypto/Cargo.toml
  crypto/crypto/benches/noise.rs
  language/benchmarks/Cargo.toml
  network/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

ignore deprecation in two files, to doal out to test owners.
  network/benches/network_bench.rs
  network/benches/socket_bench.rs
Owners: none

[vm] Add execute_script_function and verification
  language/bytecode-verifier/src/lib.rs
  language/bytecode-verifier/src/script_signature.rs
  language/bytecode-verifier/src/verifier.rs
  language/move-core/types/src/vm_status.rs
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/runtime.rs
  language/move-vm/runtime/src/session.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
Owners: none

Multiset implementation for verifying emits specs
  language/move-prover/src/prelude.bpl
  language/move-prover/src/spec_translator.rs
  language/move-prover/tests/sources/functional/emits.exp
  language/move-prover/tests/sources/functional/emits.move
Owners: none

Bump env_logger from 0.8.2 to 0.8.3
  Cargo.lock
  devtools/x/Cargo.toml
Owners: none

[diemdb_bench] add prune window
  storage/diemdb-benchmark/src/lib.rs
  storage/diemdb-benchmark/src/main.rs
Owners: none

[common] adding a new fallible wrapper for copy_from_slice
  Cargo.lock
  Cargo.toml
  common/fallible/Cargo.toml
  common/fallible/src/copy_from_slice.rs
  common/fallible/src/lib.rs
  config/management/operational/Cargo.toml
  config/management/operational/src/network_checker.rs
  consensus/Cargo.toml
  consensus/src/liveness/proposer_election.rs
  language/move-lang/Cargo.toml
  language/move-lang/src/shared/mod.rs
  types/Cargo.toml
  types/src/event.rs
Owners: none

mint -> faucet
  .github/actions/dockerhub_login/readme.md
  .github/dependabot.yml
  docker/build-aws.sh
  docker/build_push.sh
  docker/compose/README.md
  docker/compose/faucet/.gitignore
  docker/compose/faucet/docker-compose.yaml
  docker/faucet/Dockerfile
  docker/faucet/build.sh
  docker/faucet/buildspec.yaml
Owners: @libra/libra-oss-admin-team

Bump trybuild from 1.0.40 to 1.0.41
  Cargo.lock
  crypto/crypto/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

Bump rust_decimal from 1.10.2 to 1.10.3
  Cargo.lock
  testsuite/cli/Cargo.toml
  testsuite/smoke-test/Cargo.toml
Owners: none

[State Sync] Use optimistic fetch for both waypoint and verifiable chunk processing.
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/logging.rs
  state-sync/tests/integration_tests.rs
Owners: none

[gha] reference the needed secrets
  .github/workflows/osx-sccache.yml
Owners: @libra/libra-oss-admin-team

[dep] quote update w/o upgradeing workspace hack
  Cargo.lock
  common/logger/derive/Cargo.toml
  common/num-variants/Cargo.toml
  crypto/crypto-derive/Cargo.toml
  testsuite/smoke-test/attribute/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

[gha] remove canary from daily audit checks.
  .github/workflows/daily.yml
Owners: @libra/libra-oss-admin-team

[cluster-test] Added new invalid tx suite
  testsuite/cluster-test/src/experiments/compatibility_test.rs
  testsuite/cluster-test/src/experiments/cpu_flamegraph.rs
  testsuite/cluster-test/src/experiments/load_test.rs
  testsuite/cluster-test/src/experiments/performance_benchmark.rs
  testsuite/cluster-test/src/experiments/performance_benchmark_three_region_simulation.rs
  testsuite/cluster-test/src/experiments/reconfiguration_test.rs
  testsuite/cluster-test/src/experiments/recovery_time.rs
  testsuite/cluster-test/src/experiments/twin_validator.rs
  testsuite/cluster-test/src/experiments/versioning_test.rs
  testsuite/cluster-test/src/main.rs
  testsuite/cluster-test/src/suite.rs
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

fix fmt
  language/transaction-builder/generator/src/generate.rs
  language/transaction-builder/generator/src/typescript.rs
Owners: none

remove format when simple string is used
  language/transaction-builder/generator/README.md
  language/transaction-builder/generator/src/typescript.rs
Owners: none

typescript code generator
  language/transaction-builder/generator/README.md
  language/transaction-builder/generator/src/generate.rs
  language/transaction-builder/generator/src/lib.rs
  language/transaction-builder/generator/src/typescript.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
