Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

[logging] Add documentation to all structs and macros
  common/logger/src/counters.rs
  common/logger/src/diem_logger.rs
  common/logger/src/event.rs
  common/logger/src/filter.rs
  common/logger/src/kv.rs
  common/logger/src/logger.rs
  common/logger/src/macros.rs
  common/logger/src/metadata.rs
  common/logger/src/sample.rs
  common/logger/src/security.rs
  common/logger/src/struct_log.rs
Owners: none

Bump futures-sink from 0.3.12 to 0.3.13
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

Bump futures-channel from 0.3.12 to 0.3.13
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

[prover] fine-grained read and write set analysis
  language/move-model/src/model.rs
  language/move-model/src/ty.rs
  language/move-prover/bytecode/src/access_path.rs
  language/move-prover/bytecode/src/access_path_trie.rs
  language/move-prover/bytecode/src/compositional_analysis.rs
  language/move-prover/bytecode/src/function_target.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/packed_types_analysis.rs
  language/move-prover/bytecode/src/read_write_set_analysis.rs
  language/move-prover/bytecode/src/usage_analysis.rs
  language/move-prover/bytecode/tests/read_write_set/exists.exp
  language/move-prover/bytecode/tests/read_write_set/exists.move
  language/move-prover/bytecode/tests/read_write_set/fields.exp
  language/move-prover/bytecode/tests/read_write_set/fields.move
  language/move-prover/bytecode/tests/read_write_set/footprint.exp
  language/move-prover/bytecode/tests/read_write_set/footprint.move
  language/move-prover/bytecode/tests/read_write_set/functions.exp
  language/move-prover/bytecode/tests/read_write_set/functions.move
  language/move-prover/bytecode/tests/read_write_set/summary.exp
  language/move-prover/bytecode/tests/read_write_set/summary.move
  language/move-prover/bytecode/tests/testsuite.rs
  language/move-prover/src/cli.rs
  language/move-prover/src/lib.rs
  language/vm/src/file_format.rs
Owners: none

[move-lang] Fix loop related bugs
  language/move-lang/src/cfgir/ast.rs
  language/move-lang/src/cfgir/borrows/mod.rs
  language/move-lang/src/cfgir/cfg.rs
  language/move-lang/src/cfgir/constant_fold.rs
  language/move-lang/src/cfgir/eliminate_locals.rs
  language/move-lang/src/cfgir/inline_blocks.rs
  language/move-lang/src/cfgir/liveness/mod.rs
  language/move-lang/src/cfgir/locals/mod.rs
  language/move-lang/src/cfgir/mod.rs
  language/move-lang/src/cfgir/simplify_jumps.rs
  language/move-lang/src/cfgir/translate.rs
  language/move-lang/src/hlir/ast.rs
  language/move-lang/src/hlir/translate.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/move-lang/src/typing/core.rs
  language/move-lang/src/typing/translate.rs
  language/move-lang/tests/move_check/control_flow/infinite_loop_with_dead_exits.exp
  language/move-lang/tests/move_check/control_flow/infinite_loop_with_dead_exits.move
  language/move-lang/tests/move_check/translated_ir_tests/move/commands/dead_return_local.exp
  language/move-lang/tests/move_check/typing/break_outside_loop.exp
  language/move-lang/tests/move_check/typing/break_outside_loop.move
Owners: none

[move-lang] Fix handling of TempBorrow of divergent expression
  language/move-lang/src/hlir/translate.rs
  language/move-lang/tests/move_check/typing/borrow_divergent.exp
  language/move-lang/tests/move_check/typing/borrow_divergent.move
Owners: none

[move-lang] Fix eq borrow checker bug
  language/move-lang/src/cfgir/borrows/mod.rs
  language/move-lang/tests/move_check/borrows/eq_unassigned_local.exp
  language/move-lang/tests/move_check/borrows/eq_unassigned_local.move
Owners: none

[move-lang] Fixed recursive type bug
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/typing/recursive_local.exp
  language/move-lang/tests/move_check/typing/recursive_local.move
Owners: none

[move-lang] Fixed missing constraint on instantiate Ref
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/typing/instantiate_signatures.exp
  language/move-lang/tests/move_check/typing/instantiate_signatures.move
Owners: none

[move-lang] Fixed index issue in hlir translate
  language/move-lang/functional-tests/tests/move/evaluation_order/short_circuiting.move
  language/move-lang/functional-tests/tests/move/evaluation_order/short_circuiting_invalid.move
  language/move-lang/src/hlir/translate.rs
Owners: none

diem-json-rpc-types: remove dependency on compiled-stdlib
  Cargo.lock
  common/workspace-hack/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/src/methods.rs
  json-rpc/src/util.rs
  json-rpc/types/Cargo.toml
  json-rpc/types/src/views.rs
Owners: @xli

diem-json-rpc-types: remove dependency on move-explain
  Cargo.lock
  json-rpc/Cargo.toml
  json-rpc/src/methods.rs
  json-rpc/src/tests/unit_tests.rs
  json-rpc/src/util.rs
  json-rpc/types/Cargo.toml
  json-rpc/types/src/views.rs
Owners: @xli

diem-types: remove dependency on diem-infallible
  Cargo.lock
  types/Cargo.toml
  types/src/test_helpers/transaction_test_helpers.rs
Owners: none

diem-types: remove dependency on fallible
  Cargo.lock
  types/Cargo.toml
  types/src/event.rs
Owners: none

[move-prover] add weak and strong borrow boogie instructions
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/src/prelude.bpl
Owners: none

[x] switch to new versions of guppy and camino
  Cargo.lock
  devtools/x-core/Cargo.toml
  devtools/x-core/src/errors.rs
  devtools/x-core/src/git.rs
  devtools/x-core/src/workspace_subset.rs
  devtools/x-lint/Cargo.toml
  devtools/x-lint/src/file_path.rs
  devtools/x-lint/src/lib.rs
  devtools/x-lint/src/package.rs
  devtools/x-lint/src/runner.rs
  devtools/x/Cargo.toml
  devtools/x/src/lint/allowed_paths.rs
  devtools/x/src/lint/guppy.rs
  devtools/x/src/lint/license.rs
  devtools/x/src/lint/toml.rs
  devtools/x/src/lint/whitespace.rs
  devtools/x/src/lint/workspace_hack.rs
Owners: none

x: add only-publish-to-crate-io lint
  devtools/x/src/lint/guppy.rs
  devtools/x/src/lint/mod.rs
Owners: none

x: add published-packages-dont-depend-on-unpublished-packages lint
  client/transaction-builder/Cargo.toml
  common/diemdoc/Cargo.toml
  crypto/crypto-derive/Cargo.toml
  devtools/x/src/lint/guppy.rs
  devtools/x/src/lint/mod.rs
  language/ir-testsuite/Cargo.toml
  language/move-ir/types/Cargo.toml
  language/move-lang/test-utils/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  language/move-prover/test-utils/Cargo.toml
  language/testing-infra/functional-tests/Cargo.toml
  language/transaction-builder/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

Bump ctrlc from 3.1.7 to 3.1.8
  Cargo.lock
  testsuite/diem-swarm/Cargo.toml
Owners: none

Bump textwrap from 0.13.3 to 0.13.4
  Cargo.lock
  language/transaction-builder/generator/Cargo.toml
Owners: none

Bump tracing from 0.1.24 to 0.1.25
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

[gha] e2e test will also push success to flaky test until I'm convinced our e2e tests are really this good.
  .github/actions/slack-file/action.yml
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

[file-format] make a separate vec of module handles for friend decls
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/bounds_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/duplication_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/generic_ops_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/signature_tests.rs
  language/bytecode-verifier/invalid-mutations/src/bounds.rs
  language/bytecode-verifier/src/check_duplication.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  language/vm/src/access.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/proptest_types.rs
  language/vm/src/serializer.rs
Owners: none

update workspace hack
  common/workspace-hack/Cargo.toml
Owners: none

transaction-builder: remove get_transaction_name function
  Cargo.lock
  client/transaction-builder/src/misc.rs
  storage/inspector/Cargo.toml
  storage/inspector/src/main.rs
Owners: @xli

transaction-builder: remove encode_stdlib_upgrade_transaction function
  Cargo.lock
  client/transaction-builder/Cargo.toml
  client/transaction-builder/src/lib.rs
  client/transaction-builder/src/misc.rs
  common/workspace-hack/Cargo.toml
  language/transaction-builder/src/lib.rs
  testsuite/cli/src/client_proxy.rs
Owners: @xli

transaction-builder: fix build errors when building tests
  Cargo.lock
  client/transaction-builder/Cargo.toml
Owners: @xli

transaction-builder: remove encode_block_prologue_script function
  client/transaction-builder/src/misc.rs
  execution/executor/tests/storage_integration_test.rs
  state-sync/src/executor_proxy.rs
Owners: @xli

[storage] expose RbReader::get_last_version_before_timestamp()
  storage/diemdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Owners: none

[storage] EventStore::get_last_version_before_timestamp()
  Cargo.lock
  storage/diemdb/Cargo.toml
  storage/diemdb/src/diemdb_test.rs
  storage/diemdb/src/event_store/mod.rs
  storage/diemdb/src/event_store/test.rs
  storage/diemdb/src/lib.rs
  types/src/account_config/events/new_block.rs
Owners: none

[move-lang] report errors for global storage builtins in script contexts
  language/move-lang/src/typing/globals.rs
  language/move-lang/tests/move_check/typing/global_builtins_script.exp
  language/move-lang/tests/move_check/typing/global_builtins_script.move
Owners: none

Add custom formatter to diem_logger
  common/logger/src/diem_logger.rs
  common/logger/tests/logger_custom_format.rs
Owners: none

[gha] add ignore list to audit
  .github/workflows/daily.yml
Owners: @libra/libra-oss-admin-team

Much simpler implementation
  docker/compose/README.md
  docker/compose/client/docker-compose.yaml
  docker/compose/faucet/.gitignore
  docker/compose/faucet/docker-compose.yaml
  docker/compose/validator-testnet/diem_root_key
  docker/compose/validator-testnet/docker-compose.yaml
  docker/compose/validator-testnet/genesis.blob
  docker/compose/validator-testnet/waypoint.txt
Owners: none

[docker-compose] Add test script for docker compose
  docker/compose/README.md
  scripts/test_docker_compose.sh
Owners: none

combine validator+faucet
  docker/compose/README.md
  docker/compose/faucet/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

[docker-compose] Add github action for testing
  .github/workflows/ci-test.yml
  docker/compose/client/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
  scripts/test_docker_compose.sh
Owners: @libra/libra-oss-admin-team

clean up existing docs
  docker/compose/faucet/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

[docker-compose] clean up docker compose files
  docker/compose/README.md
  docker/compose/client/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

[docker-compose][ci] rename to client-cli and move compose test dir
  .github/workflows/ci-test.yml
  docker/compose/README.md
  docker/compose/client-cli/docker-compose.yaml
  docker/compose/test_docker_compose.sh
Owners: @libra/libra-oss-admin-team
