Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

[State Sync] Remove anyhow from test_harness.rs
  state-sync/tests/test_harness.rs
Owners: none

[State Sync] Remove anyhow from executor proxy trait.
  state-sync/src/executor_proxy.rs
Owners: none

[State Sync] Update request_manager.rs to use error::Error
  state-sync/src/request_manager.rs
  state-sync/src/shared_components.rs
Owners: none

[State Sync] Add network error type
  state-sync/src/error.rs
  state-sync/src/network.rs
Owners: none

[State Sync] Remove anyhow from logging infrastructure
  state-sync/src/coordinator.rs
  state-sync/src/logging.rs
Owners: none

[State Sync] Remove anyhow from coordinator
  state-sync/src/coordinator.rs
Owners: none

[State Sync] Remove redundant conversions.
  state-sync/src/coordinator.rs
  state-sync/src/request_manager.rs
Owners: none

[State Sync] Fix error conversion for state computer in consensus.
  consensus/src/state_computer.rs
  state-sync/src/error.rs
Owners: none

[State Sync] Update client to remove anyhow
  state-sync/src/client.rs
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/executor_proxy.rs
  state-sync/src/shared_components.rs
Owners: none

[State Sync] Small code cleanups
  state-sync/src/chunk_response.rs
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/executor_proxy.rs
  state-sync/src/request_manager.rs
  state-sync/src/shared_components.rs
Owners: none

[State Sync] Remove anyhow dependency from state sync.
  Cargo.lock
  state-sync/Cargo.toml
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/executor_proxy.rs
  state-sync/src/shared_components.rs
Owners: none

[helm] add public fullnode helm chart
  helm/fullnode/.helmignore
  helm/fullnode/Chart.yaml
  helm/fullnode/README.md
  helm/fullnode/files/backup/azure.toml
  helm/fullnode/files/backup/gcs.toml
  helm/fullnode/files/backup/s3-public.toml
  helm/fullnode/files/backup/s3.toml
  helm/fullnode/files/backup/scw_s3.toml
  helm/fullnode/files/fullnode.yaml
  helm/fullnode/files/genesis/testnet.blob
  helm/fullnode/templates/NOTES.txt
  helm/fullnode/templates/_backup.tpl
  helm/fullnode/templates/_helpers.tpl
  helm/fullnode/templates/backup-verify.yaml
  helm/fullnode/templates/backup.yaml
  helm/fullnode/templates/configmaps.yaml
  helm/fullnode/templates/fullnode.yaml
  helm/fullnode/templates/restore.yaml
  helm/fullnode/templates/service.yaml
  helm/fullnode/templates/serviceaccount.yaml
  helm/fullnode/templates/storage.yaml
  helm/fullnode/values.yaml
Owners: none

[helm] make lint happy
  x.toml
Owners: none

[helm][small] instructions for changing image tag
  helm/fullnode/README.md
Owners: none

ci: add daily job to replay transactions
  .github/workflows/daily.yml
  .github/workflows/transaction-replay.toml
Owners: @libra/libra-oss-admin-team

[faucet] Faucet sends CoinTradeMetadata + trade_id
  Cargo.lock
  client/faucet/Cargo.toml
  client/faucet/src/main.rs
  client/faucet/src/mint.rs
Owners: @xli

[gha] e2e tests should have messages pushed on e2e test failures
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

Add Csharp Transaction Builder Generator
  .github/actions/build-setup/action.yml
  Cargo.lock
  common/diemdoc/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
  language/transaction-builder/generator/README.md
  language/transaction-builder/generator/examples/csharp/StdlibDemo.cs
  language/transaction-builder/generator/examples/csharp/custom_diem_code/AccountAddress.cs
  language/transaction-builder/generator/src/csharp.rs
  language/transaction-builder/generator/src/generate.rs
  language/transaction-builder/generator/src/lib.rs
  language/transaction-builder/generator/tests/cli.rs
  language/transaction-builder/generator/tests/generation.rs
Owners: @libra/libra-oss-admin-team

Ignore the C# generation test by default. Still runs in CI
  language/transaction-builder/generator/tests/generation.rs
Owners: none

[helm][gha] test pfn chart with state sync
  .github/workflows/ci-test.yml
  helm/fullnode/templates/tests/test-fullnode-connection.yaml
Owners: @libra/libra-oss-admin-team

[dep] bump generic-array to 0.12.4
  Cargo.lock
Owners: none

[move-prover] changed name of join function of join result to make clear that join result is not abstract domain
  language/move-prover/bytecode/src/borrow_analysis.rs
  language/move-prover/bytecode/src/dataflow_analysis.rs
Owners: none

[State Sync] Remove unneccessary panics to avoid DOS attacks.
  state-sync/src/coordinator.rs
  state-sync/src/executor_proxy.rs
  state-sync/src/request_manager.rs
Owners: none

[helm] sync STRUCT_LOG_TCP_ADDR and azure config for backup
  helm/fullnode/files/backup/azure.toml
  helm/fullnode/templates/_helpers.tpl
  helm/fullnode/templates/backup-verify.yaml
  helm/fullnode/templates/backup.yaml
  helm/fullnode/templates/restore.yaml
Owners: none

[move-prover] Enable setting of environment extensions with an immutable reference by wrapping in a RefCell
  language/move-model/src/model.rs
  language/move-prover/bytecode/src/data_invariant_instrumentation.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation_v2.rs
  language/move-prover/bytecode/src/options.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/src/verification_analysis.rs
  language/move-prover/bytecode/tests/testsuite.rs
Owners: none

Bump tokio-retry from 0.2.0 to 0.3.0
  Cargo.lock
  network/Cargo.toml
Owners: none

update github links
  developers.diem.com/package.json
Owners: none

Bump libc from 0.2.87 to 0.2.88
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

Bump rustyline from 7.1.0 to 8.0.0
  Cargo.lock
  testsuite/cli/Cargo.toml
Owners: none

Bump indexmap from 1.6.1 to 1.6.2
  Cargo.lock
  devtools/x/Cargo.toml
Owners: none

[backup] metadata cache: download to tmp file then rename
  storage/backup/backup-cli/src/metadata/cache.rs
Owners: none

Fixes inadvertent change in Coin address
  developers.diem.com/docs/move/creating-coins.md
Owners: none

[docker] Add writeset tools into docker image
  docker/build-common.sh
  docker/tools/Dockerfile
Owners: none

Bump num from 0.3.1 to 0.4.0
  Cargo.lock
  language/move-model/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  language/move-prover/bytecode/Cargo.toml
  language/move-prover/docgen/Cargo.toml
  testsuite/smoke-test/Cargo.toml
Owners: none

[GHA] Added build-images step into ci-test workflow
  .github/workflows/ci-test.yml
  .github/workflows/docker-publish.yml
Owners: @libra/libra-oss-admin-team

[mempool] Give ordering to upstream peers
  config/src/config/network_config.rs
  config/src/network_id.rs
  mempool/src/shared_mempool/coordinator.rs
  mempool/src/shared_mempool/peer_manager.rs
  mempool/src/shared_mempool/runtime.rs
  mempool/src/tests/fuzzing.rs
Owners: none

[tcb][safety_rules] added state machine specification
  specifications/trusted_computing_base/safety_rules/README.md
Owners: none

x: don't check dev-dependencies for unpublishable crates
  devtools/x/src/lint/guppy.rs
Owners: none

transaction-builder: rename to diem-transaction-builder
  Cargo.lock
  client/faucet/Cargo.toml
  client/faucet/src/main.rs
  client/faucet/src/mint.rs
  client/transaction-builder/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/tests/integration_test.rs
  json-rpc/tests/testing.rs
  language/e2e-testsuite/Cargo.toml
  language/e2e-testsuite/src/tests/transaction_fuzzer.rs
  language/transaction-builder/Cargo.toml
  language/transaction-builder/src/lib.rs
  secure/key-manager/Cargo.toml
  secure/key-manager/src/lib.rs
  secure/key-manager/src/tests.rs
Owners: @xli

client: use proxy as a module instead of a dependency
  Cargo.lock
  sdk/client/Cargo.toml
  sdk/client/src/blocking.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
