Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

Bump serde_json from 1.0.61 to 1.0.62
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  client/swiss-knife/Cargo.toml
  common/logger/Cargo.toml
  common/metrics/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  config/management/operational/Cargo.toml
  consensus/Cargo.toml
  crypto/crypto/Cargo.toml
  devtools/x/Cargo.toml
  execution/executor/Cargo.toml
  json-rpc/Cargo.toml
  json-rpc/types/Cargo.toml
  language/compiler/Cargo.toml
  language/diem-tools/writeset-transaction-generator/Cargo.toml
  language/diem-vm/Cargo.toml
  language/e2e-testsuite/Cargo.toml
  language/move-core/types/Cargo.toml
  language/move-prover/Cargo.toml
  language/move-prover/boogie-backend/Cargo.toml
  language/move-prover/bytecode/Cargo.toml
  language/tools/resource-viewer/Cargo.toml
  language/vm/Cargo.toml
  mempool/Cargo.toml
  sdk/client/Cargo.toml
  secure/storage/Cargo.toml
  secure/storage/github/Cargo.toml
  secure/storage/vault/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/diemsum/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-fuzzer/Cargo.toml
  types/Cargo.toml
Owners: @xli, @kchalkias, @huitseeker, @valerini

Bump tokio from 1.1.1 to 1.2.0
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  common/bounded-executor/Cargo.toml
  common/channel/Cargo.toml
  common/debug-interface/Cargo.toml
  common/metrics/Cargo.toml
  common/rate-limiter/Cargo.toml
  common/retrier/Cargo.toml
  common/time-service/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  consensus/Cargo.toml
  diem-node/Cargo.toml
  json-rpc/Cargo.toml
  language/diem-tools/diem-events-fetcher/Cargo.toml
  language/move-prover/Cargo.toml
  mempool/Cargo.toml
  network/Cargo.toml
  network/builder/Cargo.toml
  network/netcore/Cargo.toml
  network/simple-onchain-discovery/Cargo.toml
  network/socket-bench-server/Cargo.toml
  sdk/client/Cargo.toml
  secure/key-manager/Cargo.toml
  state-sync/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-service/Cargo.toml
  storage/storage-service/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/smoke-test/Cargo.toml
Owners: @xli

Bump hyper from 0.14.2 to 0.14.4
  Cargo.lock
  common/metrics/Cargo.toml
  common/workspace-hack/Cargo.toml
  json-rpc/Cargo.toml
  storage/backup/backup-service/Cargo.toml
Owners: none

[bytecode-verifier] add cyclic dep check on stdlib buildling and loading
  language/stdlib/compiled/src/lib.rs
  language/stdlib/src/lib.rs
Owners: none

[JSON-RPC] Fixing flaky tests
  json-rpc/tests/integration_test.rs
Owners: none

Pick up new versions of the dalek suite of libraries
  Cargo.lock
  crypto/crypto/Cargo.toml
  testsuite/cli/diem-wallet/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

[move][file format] Add script visibility
  language/bytecode-verifier/src/dependencies.rs
  language/move-core/types/src/vm_status.rs
  language/move-lang/src/interface_generator.rs
  language/move-model/src/model.rs
  language/tools/disassembler/src/disassembler.rs
  language/tools/disassembler/src/main.rs
  language/vm/src/compatibility.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/normalized.rs
Owners: none

[move-prover][refactoring] Implementing data invariants for the v2 compilation scheme.
  language/move-model/src/ast.rs
  language/move-model/src/model.rs
  language/move-model/src/ty.rs
  language/move-prover/bytecode/src/data_invariant_instrumentation.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/src/stackless_bytecode.rs
  language/move-prover/bytecode/tests/data_invariant_instrumentation/borrow.exp
  language/move-prover/bytecode/tests/data_invariant_instrumentation/borrow.move
  language/move-prover/bytecode/tests/data_invariant_instrumentation/pack.exp
  language/move-prover/bytecode/tests/data_invariant_instrumentation/pack.move
  language/move-prover/bytecode/tests/data_invariant_instrumentation/params.exp
  language/move-prover/bytecode/tests/data_invariant_instrumentation/params.move
  language/move-prover/bytecode/tests/testsuite.rs
  language/move-prover/src/lib.rs
  language/move-prover/tests/sources/functional/invariants.exp
  language/move-prover/tests/sources/functional/invariants.move
  language/move-prover/tests/sources/functional/nested_invariants.exp
  language/move-prover/tests/sources/functional/nested_invariants.move
Owners: none

fix common Cargo
  common/diemdoc/Cargo.toml
  common/retrier/Cargo.toml
  common/subscription-service/Cargo.toml
  common/trace/Cargo.toml
Owners: none

fix storage Cargo path
  storage/storage-interface/Cargo.toml
Owners: none

fix config Cargo path
  config/Cargo.toml
  config/management/Cargo.toml
  config/management/genesis/Cargo.toml
  config/management/network-address-encryption/Cargo.toml
  config/management/operational/Cargo.toml
Owners: none

fix network cargo
  network/Cargo.toml
  network/builder/Cargo.toml
  network/simple-onchain-discovery/Cargo.toml
  network/socket-bench-server/Cargo.toml
Owners: none

fix secure Cargo path
  secure/key-manager/Cargo.toml
  secure/net/Cargo.toml
Owners: none

[State Sync] Update state sync to verify chunk requests before executing them.
  state-sync/src/chunk_request.rs
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
Owners: none

[State Sync] Update request manager to penalize invalid chunk requests.
  state-sync/src/coordinator.rs
  state-sync/src/request_manager.rs
Owners: none

[ir-compiler] add support for public(script)
  language/compiler/ir-to-bytecode/src/compiler.rs
  language/compiler/ir-to-bytecode/syntax/src/lexer.rs
  language/compiler/ir-to-bytecode/syntax/src/syntax.rs
  language/compiler/src/unit_tests/function_tests.rs
  language/move-ir/types/src/ast.rs
Owners: none

Bump libc from 0.2.85 to 0.2.86
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

I halp.
  consensus/README.md
Owners: none

[documentation] Fixes Blockchain paper and technical report urls
  consensus/README.md
Owners: none

[move-lang] use string consts for visibility modifiers in error messages
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/expansion/public_script_main.exp
  language/move-lang/tests/move_check/parser/function_visibility_empty.exp
  language/move-lang/tests/move_check/parser/function_visibility_invalid.exp
Owners: none

[move-lang] visibility rules for calls to and from public(script) functions
  language/move-lang/src/typing/core.rs
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.exp
  language/move-lang/tests/move_check/typing/constant_unsupported_exps.move
  language/move-lang/tests/move_check/typing/main_call_visibility_script.move
  language/move-lang/tests/move_check/typing/module_call_internal.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_script.move
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.exp
  language/move-lang/tests/move_check/typing/module_call_visibility_script_invalid.move
Owners: none

[move-lang] parser for the pubic(script) visibility modifier
  language/move-lang/src/expansion/translate.rs
  language/move-lang/src/parser/ast.rs
  language/move-lang/src/parser/syntax.rs
  language/move-lang/src/to_bytecode/translate.rs
  language/move-lang/tests/move_check/expansion/public_main.exp
  language/move-lang/tests/move_check/expansion/public_script_main.exp
  language/move-lang/tests/move_check/expansion/public_script_main.move
  language/move-lang/tests/move_check/parser/function_visibility_empty.exp
  language/move-lang/tests/move_check/parser/function_visibility_empty.move
  language/move-lang/tests/move_check/parser/function_visibility_invalid.exp
  language/move-lang/tests/move_check/parser/function_visibility_invalid.move
  language/move-lang/tests/move_check/parser/function_visibility_multiple.exp
  language/move-lang/tests/move_check/parser/function_visibility_multiple.move
  language/move-lang/tests/move_check/parser/function_visibility_script.move
  language/move-model/src/builder/module_builder.rs
Owners: none

[network] Consolidate repeated code in ConnMgr tests
  network/src/connectivity_manager/test.rs
Owners: none

[docker] disable arch
  .github/workflows/ci-test.yml
  docker/ci/arch/Dockerfile
Owners: @libra/libra-oss-admin-team

[docker] debian-upgrade
  docker/ci/github/Dockerfile
  docker/client/Dockerfile
  docker/cluster-test/Dockerfile
  docker/init/Dockerfile
  docker/mint/Dockerfile
  docker/safety-rules/Dockerfile
  docker/tools/Dockerfile
  docker/validator/Dockerfile
Owners: none

Added some "emits" specs
  language/stdlib/modules/AccountFreezing.move
  language/stdlib/modules/Diem.move
  language/stdlib/modules/DiemAccount.move
  language/stdlib/modules/DiemBlock.move
  language/stdlib/modules/DiemConfig.move
  language/stdlib/modules/DualAttestation.move
  language/stdlib/modules/Roles.move
Owners: none

Update reset-cookie.js
  developers.diem.com/src/theme/ContactForm/reset-cookie.js
Owners: none

Bump actions/cache from v2 to v2.1.4
  .github/workflows/ci-test.yml
Owners: @libra/libra-oss-admin-team

Bump centos from `dbbacec` to `5528e8b` in /docker/ci/centos
  docker/ci/centos/Dockerfile
Owners: none

Add User-Agent HTTP header to requests made by the sdk client
  sdk/client/src/blocking.rs
  sdk/client/src/client.rs
  sdk/client/src/lib.rs
Owners: none

[gha] sccache publish osx object files.
  .github/actions/build-setup/action.yml
  .github/workflows/osx-sccache.yml
Owners: @libra/libra-oss-admin-team

[docker] work well with automation
  docker/client/Dockerfile
  docker/tools/Dockerfile
Owners: none

[move vm][loader] Execute funciton should verify a missing module and function
  language/diem-vm/src/diem_vm.rs
  language/move-vm/integration-tests/src/tests/bad_entry_point_tests.rs
  language/move-vm/runtime/src/loader.rs
  language/move-vm/runtime/src/logging.rs
Owners: none

improve cli experience on testnet
  sdk/client/src/retry.rs
  testsuite/cli/src/client_proxy.rs
Owners: none

add CoinTradeMetadata
  testsuite/generate-format/src/diem.rs
  testsuite/generate-format/tests/staged/diem.yaml
  types/src/transaction/metadata.rs
Owners: none

Removed the scripts in the move-prover directory
  language/move-prover/scripts/README.md
  language/move-prover/scripts/install-boogie.sh
  language/move-prover/scripts/install-cvc4.sh
  language/move-prover/scripts/install-dotnet-centos.sh
  language/move-prover/scripts/install-dotnet-ubuntu.sh
  language/move-prover/scripts/install-dotnet.sh
  language/move-prover/scripts/install-z3-ubuntu.sh
  language/move-prover/scripts/install-z3.sh
Owners: none

Bump archlinux from `dc8477e` to `e681857` in /docker/ci/arch
  docker/ci/arch/Dockerfile
Owners: none

Bump serde_yaml from 0.8.15 to 0.8.16
  Cargo.lock
  common/diemdoc/Cargo.toml
  config/Cargo.toml
  config/management/Cargo.toml
  config/seed-peer-generator/Cargo.toml
  language/transaction-builder/generator/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/generate-format/Cargo.toml
Owners: none

[test fix] yaml ends with new lines (now)
  config/src/network_id.rs
Owners: none

fix doc links
  developers.diem.com/docs/core/run-local-network.md
Owners: none
