Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

[move][bytecode verifier] Restructure dependency verifications
  language/bytecode-verifier/src/binary_views.rs
  language/bytecode-verifier/src/cyclic_dependencies.rs
  language/bytecode-verifier/src/dependencies.rs
  language/bytecode-verifier/src/lib.rs
  language/compiler/src/main.rs
  language/move-vm/runtime/src/loader.rs
  language/stdlib/compiled/src/lib.rs
  language/stdlib/src/lib.rs
  language/testing-infra/functional-tests/src/evaluator.rs
  language/tools/move-cli/src/main.rs
Owners: none

[diemdb_bench] expose rocksdb stats after bench
  Cargo.lock
  storage/diemdb-benchmark/Cargo.toml
  storage/diemdb-benchmark/src/lib.rs
  storage/diemdb/src/lib.rs
  storage/diemdb/src/metrics.rs
  storage/diemdb/src/schema/mod.rs
Owners: none

client: introduce new unified client
  Cargo.lock
  Cargo.toml
  sdk/client/Cargo.toml
  sdk/client/src/blocking.rs
  sdk/client/src/client.rs
  sdk/client/src/error.rs
  sdk/client/src/lib.rs
  sdk/client/src/request.rs
  sdk/client/src/response.rs
Owners: none

diem-validator-interface: convert to using new diem-client
  Cargo.lock
  language/diem-tools/diem-validator-interface/Cargo.toml
  language/diem-tools/diem-validator-interface/src/json_rpc_interface.rs
Owners: none

cluster-test: convert to using new diem-client
  Cargo.lock
  testsuite/cluster-test/Cargo.toml
  testsuite/cluster-test/src/experiments/reconfiguration_test.rs
  testsuite/cluster-test/src/experiments/versioning_test.rs
  testsuite/cluster-test/src/instance.rs
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

faucet: convert to using new diem-client
  Cargo.lock
  client/faucet/Cargo.toml
  client/faucet/src/mint.rs
Owners: @xli

client: remove old blocking client
  client/json-rpc/src/blocking.rs
  client/json-rpc/src/lib.rs
Owners: @xli

json-rpc-server: convert to using new diem-client
  Cargo.lock
  json-rpc/Cargo.toml
  json-rpc/src/tests/unit_tests.rs
Owners: none

key-manager: convert to using new diem-client
  Cargo.lock
  sdk/client/src/blocking.rs
  secure/key-manager/Cargo.toml
  secure/key-manager/src/diem_interface.rs
  secure/key-manager/src/lib.rs
Owners: none

seed-peer-generator: convert to using new diem-client
  Cargo.lock
  config/seed-peer-generator/Cargo.toml
  config/seed-peer-generator/src/utils.rs
Owners: none

diem-events-fetcher: convert to using new diem-client
  Cargo.lock
  language/diem-tools/diem-events-fetcher/Cargo.toml
  language/diem-tools/diem-events-fetcher/src/lib.rs
  testsuite/smoke-test/src/event_fetcher.rs
  x.toml
Owners: none

client: remove old async client
  client/json-rpc/src/client.rs
  client/json-rpc/src/lib.rs
  client/json-rpc/src/response.rs
Owners: @xli

secure-json-rpc-client: remove unused implementation
  Cargo.lock
  Cargo.toml
  secure/json-rpc/Cargo.toml
  secure/json-rpc/README.md
  secure/json-rpc/src/lib.rs
  testsuite/diem-fuzzer/Cargo.toml
  testsuite/diem-fuzzer/src/fuzz_targets.rs
  testsuite/diem-fuzzer/src/fuzz_targets/secure_json_rpc_client.rs
Owners: none

operational: convert to using new diem-client
  Cargo.lock
  config/management/operational/Cargo.toml
  config/management/operational/src/json_rpc.rs
  config/management/operational/src/lib.rs
  json-rpc/types/src/views.rs
  testsuite/smoke-test/Cargo.toml
  testsuite/smoke-test/src/consensus.rs
  testsuite/smoke-test/src/operational_tooling.rs
Owners: @xli

fix clippy error
  crypto/crypto/src/noise.rs
  crypto/crypto/src/unit_tests/ed25519_test.rs
  crypto/crypto/src/unit_tests/hash_test.rs
  devtools/x-core/src/lib.rs
  devtools/x-lint/src/runner.rs
  devtools/x/src/lint/guppy.rs
  devtools/x/src/utils.rs
Owners: @kchalkias, @huitseeker, @valerini

optimize bitvec test
  common/bitvec/src/lib.rs
Owners: none

fix cargo doctest
  common/bitvec/src/lib.rs
Owners: none

fix bitvec test
  common/bitvec/src/lib.rs
Owners: none

Bump trybuild from 1.0.39 to 1.0.40
  Cargo.lock
  crypto/crypto/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

Bump pin-project from 1.0.4 to 1.0.5
  Cargo.lock
  common/rate-limiter/Cargo.toml
  common/time-service/Cargo.toml
  network/Cargo.toml
  network/netcore/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
Owners: none

[move-prover] Improving bytecode dump output + adding a `modifies` example.
  language/move-prover/bytecode/tests/testsuite.rs
Owners: none

[move-prover][refactoring] Integrating verification analysis into the transformation pipeline.
  language/move-model/src/builder/model_builder.rs
  language/move-model/src/model.rs
  language/move-prover/abigen/src/abigen.rs
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/bytecode/src/annotations.rs
  language/move-prover/bytecode/src/compositional_analysis.rs
  language/move-prover/bytecode/src/function_target.rs
  language/move-prover/bytecode/src/function_target_pipeline.rs
  language/move-prover/bytecode/src/lib.rs
  language/move-prover/bytecode/src/spec_instrumentation.rs
  language/move-prover/bytecode/src/verification_analysis.rs
  language/move-prover/bytecode/tests/spec_instrumentation/fun_spec.exp
  language/move-prover/bytecode/tests/spec_instrumentation/modifies.exp
  language/move-prover/bytecode/tests/spec_instrumentation/opaque_call.exp
  language/move-prover/bytecode/tests/testsuite.rs
  language/move-prover/docgen/src/docgen.rs
  language/move-prover/errmapgen/src/errmapgen.rs
  language/move-prover/src/boogie_wrapper.rs
  language/move-prover/src/bytecode_translator.rs
  language/move-prover/src/lib.rs
  language/move-prover/src/spec_translator.rs
  language/move-prover/tests/sources/functional/ModifiesTypeTest.exp
  language/move-prover/tests/sources/functional/friend_error.exp
Owners: none

[x] add a custom rule abi -> transaction-builder-generator
  language/transaction-builder/generator/tests/generation.rs
  x.toml
Owners: none

[language] filter out file names in compiler error messages
  language/ir-testsuite/tests/move/commands/if_branch_diverges_5.mvir
  language/ir-testsuite/tests/move/commands/if_branch_diverges_6.mvir
  language/ir-testsuite/tests/move/commands/if_branch_diverges_8.mvir
  language/move-lang/functional-tests/tests/move/commands/unpack_top_level.move
  language/testing-infra/functional-tests/src/evaluator.rs
Owners: none

[move core types] fix bugs in parse_type_tag
  language/move-core/types/src/identifier.rs
  language/move-core/types/src/parser.rs
Owners: none

[docker] remove circleci base image, point dependabot at gha base image
  .github/dependabot.yml
  docker/ci/circleci/Dockerfile
Owners: @libra/libra-oss-admin-team

[x] bump grcov version
  x.toml
Owners: none

diem-dev: remove unused and outdated c-interface
  Cargo.lock
  Cargo.toml
  client/diem-dev/Cargo.toml
  client/diem-dev/README.md
  client/diem-dev/build.rs
  client/diem-dev/include/data.h
  client/diem-dev/src/crypto.rs
  client/diem-dev/src/error.rs
  client/diem-dev/src/interface.rs
  client/diem-dev/src/lib.rs
  client/diem-dev/src/transaction.rs
Owners: @xli

Updating My First Client tutorial: fixing reference to XUS and fixing python faucet command
  developers.diem.com/docs/core/my-first-client.md
Owners: none

Fixes bug #6887 in json-rpc docs
  json-rpc/docs/method_get_account_transactions.md
Owners: none

[State Sync] Clean up new and lost peer events and add unit tess
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/request_manager.rs
Owners: none

[State Sync] Clean up process_chunk_message and add unit tests
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/fuzzing.rs
  state-sync/src/logging.rs
  state-sync/src/request_manager.rs
Owners: none

[State Sync] Clean up check_progress and add error handling and unit tests.
  config/src/config/state_sync_config.rs
  state-sync/src/client.rs
  state-sync/src/coordinator.rs
  state-sync/src/error.rs
  state-sync/src/fuzzing.rs
  state-sync/src/logging.rs
  state-sync/src/request_manager.rs
  state-sync/src/shared_components.rs
Owners: none

client: add state ratcheting
  sdk/client/src/blocking.rs
  sdk/client/src/client.rs
  sdk/client/src/error.rs
  sdk/client/src/lib.rs
  sdk/client/src/response.rs
  sdk/client/src/state.rs
Owners: none

client: add wait_for_transaction method
  Cargo.lock
  sdk/client/Cargo.toml
  sdk/client/src/blocking.rs
  sdk/client/src/client.rs
  sdk/client/src/error.rs
Owners: none

client: add retry logic
  sdk/client/src/blocking.rs
  sdk/client/src/client.rs
  sdk/client/src/error.rs
  sdk/client/src/lib.rs
  sdk/client/src/retry.rs
Owners: none

client: use macro to simplify the use of features
  sdk/client/src/error.rs
  sdk/client/src/lib.rs
  sdk/client/src/macros.rs
  sdk/client/src/retry.rs
  sdk/client/src/state.rs
  testsuite/cli/src/diem_client.rs
Owners: none

cli: convert to use new sdk client
  Cargo.lock
  sdk/client/src/lib.rs
  testsuite/cli/Cargo.toml
  testsuite/cli/src/client_proxy.rs
  testsuite/cli/src/diem_client.rs
  testsuite/smoke-test/src/replay_tooling.rs
  testsuite/smoke-test/src/transaction.rs
Owners: none

[json-rpc] remove an unnecessary Into conversion
  json-rpc/src/methods.rs
Owners: @xli

[x] add initial support for automatic workspace-hack management
  Cargo.lock
  common/workspace-hack/.gitattributes
  common/workspace-hack/Cargo.toml
  devtools/x-core/Cargo.toml
  devtools/x-core/src/core_config.rs
  devtools/x-core/src/errors.rs
  devtools/x-core/src/lib.rs
  devtools/x-lint/Cargo.toml
  devtools/x-lint/src/project.rs
  devtools/x/Cargo.toml
  devtools/x/src/generate_workspace_hack.rs
  devtools/x/src/lint/guppy.rs
  devtools/x/src/lint/mod.rs
  devtools/x/src/lint/workspace_hack.rs
  devtools/x/src/main.rs
  x.toml
Owners: none
