Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @libra/libra-oss-admin-team, @kchalkias, @huitseeker, @valerini, @xli, @matbd

[move-prover] Add borrow edge info to borrow analysis (v2 experimental version)
  language/move-prover/bytecode/src/borrow_analysis_v2.rs
  language/move-prover/bytecode/src/dataflow_analysis.rs
  language/move-prover/bytecode/src/lib.rs
Owners: none

Bump rand_core from 0.6.1 to 0.6.2
  Cargo.lock
  common/workspace-hack/Cargo.toml
  consensus/safety-rules/Cargo.toml
  crypto/crypto/Cargo.toml
  network/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

[cluster-test] new invalid tx type for duplication
  testsuite/cluster-test/src/tx_emitter.rs
Owners: none

[network] Use NetworkId instead of RoleType to identify networks
  config/management/operational/src/network_checker.rs
  config/src/config/mod.rs
  config/src/config/network_config.rs
  config/src/network_id.rs
  diem-node/src/lib.rs
  network/builder/src/builder.rs
  network/builder/src/dummy.rs
  network/simple-onchain-discovery/src/lib.rs
  network/src/counters.rs
  network/src/noise/mod.rs
  network/src/peer_manager/mod.rs
  state-sync/tests/test_harness.rs
Owners: none

[file format] drop FriendDeclaration as encapsulation not needed
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/bounds_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/duplication_tests.rs
  language/bytecode-verifier/invalid-mutations/src/bounds.rs
  language/vm/src/access.rs
  language/vm/src/check_bounds.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/proptest_types.rs
  language/vm/src/proptest_types/types.rs
  language/vm/src/serializer.rs
Owners: none

[file format] add module friend list and public(friend) modifier
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/bounds_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/duplication_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/generic_ops_tests.rs
  language/bytecode-verifier/bytecode-verifier-tests/src/unit_tests/signature_tests.rs
  language/bytecode-verifier/invalid-mutations/src/bounds.rs
  language/bytecode-verifier/src/check_duplication.rs
  language/bytecode-verifier/src/dependencies.rs
  language/bytecode-verifier/src/script_signature.rs
  language/compiler/ir-to-bytecode/src/compiler.rs
  language/move-lang/src/interface_generator.rs
  language/move-model/src/model.rs
  language/move-vm/runtime/src/unit_tests/vm_arguments_tests.rs
  language/tools/disassembler/src/disassembler.rs
  language/vm/src/access.rs
  language/vm/src/check_bounds.rs
  language/vm/src/compatibility.rs
  language/vm/src/deserializer.rs
  language/vm/src/file_format.rs
  language/vm/src/file_format_common.rs
  language/vm/src/lib.rs
  language/vm/src/normalized.rs
  language/vm/src/proptest_types.rs
  language/vm/src/proptest_types/types.rs
  language/vm/src/serializer.rs
Owners: none

[diem-framework] Move DiemTransactionPublishingOption back to V1
  language/diem-framework/compiled/stdlib/028_DiemTransactionPublishingOption.mv
Owners: none

Bump guppy from 0.7.0 to 0.7.2
  Cargo.lock
  devtools/x-core/Cargo.toml
  devtools/x-lint/Cargo.toml
  devtools/x/Cargo.toml
Owners: none

Bump archlinux in /docker/ci/arch
  docker/ci/arch/Dockerfile
Owners: none

Bump sha-1 from 0.9.3 to 0.9.4
  Cargo.lock
  testsuite/diem-fuzzer/Cargo.toml
Owners: none

short-hex-str: use trait to eliminate dep for crypto and move-core-types
  Cargo.lock
  common/short-hex-str/Cargo.toml
  common/short-hex-str/src/lib.rs
  config/Cargo.toml
  config/src/config/network_config.rs
  config/src/config/upstream_config.rs
  config/src/network_id.rs
  consensus/Cargo.toml
  consensus/consensus-types/Cargo.toml
  consensus/consensus-types/src/block_retrieval.rs
  consensus/consensus-types/src/proposal_msg.rs
  consensus/consensus-types/src/vote.rs
  consensus/src/block_storage/block_store.rs
  crypto/crypto/Cargo.toml
  crypto/crypto/src/hash.rs
  language/move-core/types/Cargo.toml
  language/move-core/types/src/account_address.rs
  network/simple-onchain-discovery/Cargo.toml
  network/simple-onchain-discovery/src/lib.rs
  network/src/connectivity_manager/mod.rs
  network/src/counters.rs
  network/src/noise/handshake.rs
  network/src/peer/mod.rs
  network/src/peer_manager/mod.rs
  network/src/protocols/health_checker/mod.rs
  network/src/protocols/network/mod.rs
  network/src/protocols/rpc/mod.rs
  network/src/transport/mod.rs
Owners: @kchalkias, @huitseeker, @valerini

[config] Add more roles to PeerRole
  config/src/config/network_config.rs
Owners: none

[network] Add Upstream / Downstream role definitions
  config/src/network_id.rs
Owners: none

[network] Split dial_eligible_peers
  network/src/connectivity_manager/mod.rs
Owners: none

[network] Move to using Discovered Peer for dialing
  network/src/connectivity_manager/mod.rs
Owners: none

[config] actually use test config in validator_swarm_for_testing
  config/src/generator.rs
Owners: none

[trace] replace manually implemented OnceCell with upstream OnceCell
  common/trace/src/lib.rs
  common/trace/src/trace.rs
Owners: none

[move-prover] Run CVC4 tests only when special environment variable is set.
  language/move-prover/tests/sources/functional/invariants_resources.exp
  language/move-prover/tests/sources/functional/invariants_resources.move
  language/move-prover/tests/testsuite.rs
Owners: none

Bump tracing from 0.1.23 to 0.1.24
  Cargo.lock
  common/workspace-hack/Cargo.toml
Owners: none

Bump kube from 0.50.0 to 0.50.1
  Cargo.lock
  testsuite/cluster-test/Cargo.toml
Owners: none

Bump alpine from 3.13.1 to 3.13.2 in /docker/ci/alpine
  docker/ci/alpine/Dockerfile
Owners: none

Fix Faucet docker-compose
  docker/compose/faucet/docker-compose.yaml
Owners: none

[move prover] fix broken link in prover guide
  language/move-prover/doc/user/prover-guide.md
Owners: none

[move-prover] Add illustration of computing global information for a pipeline step.
  language/move-prover/bytecode/src/global_invariant_instrumentation.rs
Owners: none

[base image] each branch now gets it's own base image, and the base image has one giant layer for all tooling right where gha expects it.
  .github/actions/build-setup/action.yml
  .github/actions/dockerhub_login/action.yml
  .github/workflows/ci-publish-base-image.yml
  .github/workflows/ci-test.yml
  docker/ci/github/Dockerfile
  scripts/dev_setup.sh
Owners: @libra/libra-oss-admin-team

[diem-trace] restore previous behavior of set_diem_trace
  common/trace/src/trace.rs
Owners: none

nibble: use trait to eliminate dep for crypto
  Cargo.lock
  crypto/crypto/Cargo.toml
  crypto/crypto/src/hash.rs
  crypto/crypto/src/unit_tests/hash_test.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/restore/mod.rs
Owners: @kchalkias, @huitseeker, @valerini

coin1-xus-change
  developers.diem.com/docs/core/diem-cli.md
  developers.diem.com/docs/core/life-of-a-transaction.md
  developers.diem.com/docs/merchant/merchant-guide.md
  developers.diem.com/docs/reference/glossary.md
  developers.diem.com/docs/wallet-app/wallet-guide.md
  developers.diem.com/static/img/docs/consensus.svg
  developers.diem.com/static/img/docs/execution.svg
  developers.diem.com/static/img/docs/json-rpc-service.svg
  developers.diem.com/static/img/docs/mempool.svg
  developers.diem.com/static/img/docs/storage.svg
  developers.diem.com/static/img/docs/validator-sequence.svg
  developers.diem.com/static/img/docs/validator.svg
  developers.diem.com/static/img/docs/virtual-machine.svg
Owners: none

Bump reqwest from 0.11.0 to 0.11.1
  Cargo.lock
  client/faucet/Cargo.toml
  client/json-rpc/Cargo.toml
  common/debug-interface/Cargo.toml
  common/trace/Cargo.toml
  common/workspace-hack/Cargo.toml
  json-rpc/Cargo.toml
  language/diem-tools/diem-events-fetcher/Cargo.toml
  sdk/client/Cargo.toml
  storage/backup/backup-cli/Cargo.toml
  storage/backup/backup-service/Cargo.toml
  testsuite/cli/Cargo.toml
  testsuite/cluster-test/Cargo.toml
  testsuite/diem-swarm/Cargo.toml
Owners: @xli

[move-prover] preliminary changes to add new instr to bytecode
  language/move-prover/boogie-backend/src/bytecode_translator.rs
  language/move-prover/bytecode/src/borrow_analysis_v2.rs
  language/move-prover/bytecode/src/clean_and_optimize.rs
  language/move-prover/bytecode/src/eliminate_mut_refs.rs
  language/move-prover/bytecode/src/global_invariant_instrumentation.rs
  language/move-prover/bytecode/src/memory_instrumentation.rs
  language/move-prover/bytecode/src/reaching_def_analysis.rs
  language/move-prover/bytecode/src/stackless_bytecode.rs
Owners: none

[move-prover] added reminder to change printing of changed instr
  language/move-prover/bytecode/src/stackless_bytecode.rs
Owners: none

[move-prover] moved around display impls
  language/move-prover/bytecode/src/stackless_bytecode.rs
Owners: none

Bump url from 2.2.0 to 2.2.1
  Cargo.lock
  network/netcore/Cargo.toml
Owners: none

[move source language] add parser checks for too large integer literals
  language/move-lang/src/parser/syntax.rs
  language/move-lang/tests/move_check/parser/number_literal_too_long_u128.exp
  language/move-lang/tests/move_check/parser/number_literal_too_long_u128.move
  language/move-lang/tests/move_check/parser/number_literal_too_long_u64.exp
  language/move-lang/tests/move_check/parser/number_literal_too_long_u64.move
  language/move-lang/tests/move_check/parser/number_literal_too_long_u8.exp
  language/move-lang/tests/move_check/parser/number_literal_too_long_u8.move
Owners: none

[transaction builder generator] make python test ready for CI + small fix
  language/transaction-builder/generator/tests/cli.rs
  language/transaction-builder/generator/tests/generation.rs
Owners: none

Bump thiserror from 1.0.23 to 1.0.24
  Cargo.lock
  common/short-hex-str/Cargo.toml
  common/time-service/Cargo.toml
  config/Cargo.toml
  config/management/Cargo.toml
  config/management/genesis/Cargo.toml
  config/management/network-address-encryption/Cargo.toml
  config/management/operational/Cargo.toml
  config/seed-peer-generator/Cargo.toml
  consensus/Cargo.toml
  consensus/safety-rules/Cargo.toml
  crypto/crypto/Cargo.toml
  execution/execution-correctness/Cargo.toml
  execution/executor-types/Cargo.toml
  language/compiler/ir-to-bytecode/Cargo.toml
  language/move-core/types/Cargo.toml
  language/testing-infra/functional-tests/Cargo.toml
  network/Cargo.toml
  network/network-address/Cargo.toml
  secure/key-manager/Cargo.toml
  secure/net/Cargo.toml
  secure/storage/Cargo.toml
  secure/storage/github/Cargo.toml
  secure/storage/vault/Cargo.toml
  state-sync/Cargo.toml
  storage/diemdb/Cargo.toml
  storage/jellyfish-merkle/Cargo.toml
  storage/storage-interface/Cargo.toml
  testsuite/cli/diem-wallet/Cargo.toml
  testsuite/diem-swarm/Cargo.toml
  types/Cargo.toml
Owners: @kchalkias, @huitseeker, @valerini

Specified the "emits" specs for some transaction scripts
  language/diem-framework/modules/Diem.move
  language/diem-framework/modules/DiemAccount.move
  language/diem-framework/modules/DiemConfig.move
  language/diem-framework/transaction_scripts/burn.move
  language/diem-framework/transaction_scripts/cancel_burn.move
  language/diem-framework/transaction_scripts/rotate_dual_attestation_info.move
Owners: none

[move-prover] Upgrade immutable ref elimination to new tools for pipelines.
  language/move-prover/bytecode/src/eliminate_imm_refs.rs
  language/move-prover/bytecode/src/function_data_builder.rs
  language/move-prover/bytecode/tests/borrow/basic_test.exp
  language/move-prover/bytecode/tests/eliminate_mut_refs/basic_test.exp
  language/move-prover/bytecode/tests/livevar/basic_test.exp
  language/move-prover/bytecode/tests/memory_instr/basic_test.exp
  language/move-prover/bytecode/tests/reaching_def/test_branching.exp
Owners: none

[mempool] Move network message handling into separate function
  mempool/src/shared_mempool/coordinator.rs
Owners: none

[mempool] Move event handling into separate functions
  mempool/src/shared_mempool/coordinator.rs
Owners: none

.github/CODEOWNERS:

# Substribe to CI changes
/.circleci/ @libra/libra-oss-admin-team
/.github/ @libra/libra-oss-admin-team

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @huitseeker @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers
