Repository leonhiat/diem, changes with the owners that .github/CODEOWNERS names for each.
All owners: @diem/diem-oss-admin-team, @diem/diem-core, @kchalkias, @valerini, @xli, @matbd

.github/CODEOWNERS:

# Substribe to CI changes
/.github/ @diem/diem-oss-admin-team

# Subscribe to diem-core changes
/config @diem/diem-core
/consensus @diem/diem-core
/diem-node @diem/diem-core
/execution @diem/diem-core
/mempool @diem/diem-core
/network @diem/diem-core
/secure @diem/diem-core
/state-sync @diem/diem-core
/storage @diem/diem-core
/types @diem/diem-core

# Subscribe to crypto crate changing PRs
/crypto @kchalkias @valerini

# Subscribe to potential JSON API changing PRs
/json-rpc/json-rpc-spec.md @xli
/json-rpc/types/ @xli
/json-rpc/src/methods.rs @xli
/client/ @xli

# Subscribe to LCS format changes
/testsuite/generate-format/tests/staged/libra.yaml @matbd @xli

# Code freeze
# * @libra/release-gatekeepers

Fixed diem dependbort alerts
  developers.diem.com/package.json
  developers.diem.com/yarn.lock
Owners: none

cli: add default account creation to config init
  crates/diem/src/account/mint.rs
  crates/diem/src/common/utils.rs
  crates/diem/src/config/init_config.rs
Owners: none

[consensus] make the optionally compiled code more obvious
  Cargo.toml
Owners: none

Update to use the latest branch in addition to the release branch to update images.
  .github/workflows/ci-post-land.yml
Owners: @diem/diem-oss-admin-team

Code fixes for ci-post-land.yml
  .github/workflows/ci-post-land.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-post-land.yml
  .github/workflows/ci-post-land.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

update workflow
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

fix the git issue and ecr updates
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update git-checks.sh
  scripts/git-checks.sh
Owners: none

Update git.rs
  devtools/x-core/src/git.rs
Owners: none

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

fixing broken links
  README.md
Owners: none

json-json_rpc_compat_release1
  .github/workflows/daily.yml
Owners: @diem/diem-oss-admin-team

diem_setup
  DIEM_SETUP.md
Owners: none

depenadabot alerts fixed
  developers.diem.com/package.json
  developers.diem.com/yarn.lock
Owners: none

fixed-audit-issue
  .github/workflows/daily.yml
  Cargo.lock
  crates/diem-crypto/src/unit_tests/cross_test.rs
  crates/diem-crypto/src/unit_tests/hkdf_test.rs
  crates/diem-workspace-hack/Cargo.toml
  crates/diem/src/client_proxy.rs
  language/testing-infra/transactional-test-runner/src/framework.rs
  language/testing-infra/transactional-test-runner/src/tasks.rs
  language/testing-infra/transactional-test-runner/src/vm_test_harness.rs
  language/tools/move-cli/src/sandbox/utils/on_disk_state_view.rs
  rust-toolchain
  testsuite/cli/src/client_proxy.rs
  testsuite/generate-format/tests/detect_format_change.rs
  x.toml
Owners: @diem/diem-oss-admin-team

fixing ci-post-land issue
  language/move-model/src/exp_generator.rs
Owners: none

fixing all the deprecated errors
  consensus/src/experimental/buffer_item.rs
  language/move-vm/types/src/values/values_impl.rs
  testsuite/forge/src/txn_emitter/mod.rs
Owners: @diem/diem-core

Solving ci-postland rustdoc issues
  consensus/src/consensusdb/schema/single_entry/mod.rs
  language/move-prover/bytecode/src/access_path.rs
  testsuite/cli/src/client_proxy.rs
  types/src/access_path.rs
Owners: @diem/diem-core

Solving ci-postland rustdoc issues
  .github/workflows/ci-post-land.yml
  language/move-prover/interpreter/crypto/src/lib.rs
Owners: @diem/diem-oss-admin-team

Resolving issue ci-postland-rustdocissue2
  .github/workflows/ci-post-land.yml
  crates/crash-handler/src/lib.rs
  language/testing-infra/e2e-tests/src/currencies.rs
Owners: @diem/diem-oss-admin-team

Update README.md
  .github/workflows/README.md
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team

Update ci-test.yml
  .github/workflows/ci-test.yml
Owners: @diem/diem-oss-admin-team
